[2018-08-06 05:55] fengyd2018 opened #1 "How to use bmcweb"
Hi,

Sorry to bother you.
I'm new to BMC.
I'm trying to integrate openbmc with bmcweb.
But I'm confused about how to use bmcweb.
Directory /usr/share/www/redfish can be found on the openbmc.
bmcweb only provides redfish service?

Thanks

[2018-08-07 14:54] edtanous commented on #1
bmcweb provides a lot more than just Redfish.  In the README.md is a good rundown of what it provides.

bmcweb can be added to openbmc by adding the recipe to your target.  The recipe is in the openbmc/openbmc tree, and is named bmcweb.bb and starts bmcweb under port 883.

[2018-08-08 05:50] fengyd2018 commented on #1
bmcweb provides restful API?
How can I access the resources provided by bmcweb?

[2018-08-10 20:36] geissonator opened #2 "bmcweb fails to compile in the openbmc SDK"
I've spent a bit of time here and there trying to get bmcweb to compile within the openbmc SDK.  I found and patched one issue with https://gerrit.openbmc-project.xyz/#/c/openbmc/openbmc/+/11901/ but I'm still not quite there and I gotta move on for now.  So opening this bug to track what I've found.

With an SDK built based on the commit above, I get this when I compile:
[code]

The error seem to

[2018-08-10 20:56] feistjj commented on #2
https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/11904/ should fix the problem

[2018-08-12 13:15] fengyd2018 opened #3 "build_x86.sh fails to fetch sdbusplus"
Cloning into 'sdbusplus-src'...
ssh: Could not resolve hostname git-amr-2.devtools.intel.com: Name or service not known
fatal: Could not read from remote repository.

[2018-08-13 16:44] feistjj commented on #3
https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/11904/ fixes this issue

[2018-08-13 18:36] geissonator commented on #2
Yep, nice with this commit and this command to build I was able to get a bmcweb I could start up on our witherspoon from a compile in our SDK:
[code]
Thanks!

[2018-08-13 18:40] #2 closed

[2018-08-13 18:40] #3 closed

[2018-08-13 19:14] edtanous commented on #1
Yes, bmcweb provides several APIs, it would depend on which one you're trying to access.

https://github.com/openbmc/docs/blob/master/REST-cheatsheet.md documents the /xyz dbus api.
phosphor-webui is UI driven, so documentation is a little light.

[2018-08-21 17:21] gkeishin opened #4 "Same named multiple firmware Inventory active resources ?"
Doesnt say what inventory this is about here ? A dummy entry or a real data here ?
[code]

[code]

[2018-08-21 17:32] edtanous commented on #4
These names are based on the interfaces produced by the BMC updater service, and are intended to produce the active images.  Based on what you're seeing, it looks like you have multiple "active" images on Dbus which shouldn't really be possible.

@gkeishin  Can you provide a dump of GetManagedObjects from your xyz.openbmc_project.Software.BMC.Updater.

[2018-08-21 17:32] edtanous commented on #1
Can this be closed?

[2018-08-21 17:59] gkeishin commented on #4
[code]

[2018-08-21 18:02] gkeishin commented on #4
[code]

[code]

[2018-08-21 18:58] edtanous commented on #4
It looks like your dump cut off the most important part, the value of the activate interface on each node.  Can you run this?

dbus-send --system --print-reply --dest=xyz.openbmc_project.Software.BMC.Updater /xyz/openbmc_project/software org.freedesktop.DBus.ObjectManager.GetManagedObjects

And send the result?

[2018-08-23 08:06] gkeishin opened #5 "Redfish login - 502 Bad Gateway"
On the latest Master public code
[code]
Did some changes went in recently which broke this code ?

[code]

`Journald`
[code]

[2018-08-23 08:12] gkeishin commented on #5
On debugging, looks like the bmcweb crashed
[code]

[code]

[code]

[2018-08-23 08:16] gkeishin commented on #4
I loaded the new latest Master build code, but end up facing this. https://github.com/openbmc/bmcweb/issues/5  so post that, I'll try to grab the above data which you need @edtanous

[2018-08-23 13:30] geissonator commented on #5
[code]
Maybe related to our recent change to have nginx serve up the web UI stuff?

[2018-08-23 15:05] geissonator commented on #5
My guess is probably related to this - https://gerrit.openbmc-project.xyz/#/c/openbmc/openbmc/+/11691/4/meta-openbmc-machines/meta-openpower/common/recipes-phosphor/webui/phosphor-webui.bbappend

Is bmcweb not liking that 2 files now exist?
ls /usr/share/www/02812ad9d3ecd7547217e46386a2d611.svg
02812ad9d3ecd7547217e46386a2d611.svg     02812ad9d3ecd7547217e46386a2d611.svg.gz

[2018-08-23 16:35] edtanous commented on #5
Yep.  That's exactly it, bmcweb isn't liking that you have a gzip file and a non-gzip file of the same name.

.....  I need to do something thinking to figure out how to fix it.  Right now, we can't unregister routes at runtime.  We might be able to do an initial filter to try to filter out the duplicates.
The issue exists right here:
https://github.com/openbmc/bmcweb/blob/master/include/webassets

[2018-08-28 15:12] gkeishin commented on #4
Ok. now I could figure out the number of active images on the system vs show by redfish firmware resource  property
[code]

In this example, there is one BMC and one PNOR active on the system.
[code]
Now, how do I relate which ID is for which one here ?

[2018-08-28 15:26] edtanous commented on #4
In hindsight, the line here that's picking the UID for the resource was probably a bad choice.  We probably want to populate "active" into the Status->State variable, then use the dbus UID for the actual resource name.  We could also prefix it with the Purpose enum to make it more clear, something like /redfish/v1/updateService/FirmwareInventory/BMC_A74JAF.

https://github.com/openbmc/bmcweb/blob/

[2018-08-28 15:29] gkeishin commented on #4
Yeah. I believe that could really help there.

[2018-08-29 18:15] edtanous commented on #5
Suspected fix is in review here.  https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/12202/

@geissonator can you give it a shot on your guys system and see if it fixes your issue?

[2018-08-30 20:50] #5 closed

[2018-09-04 02:16] jinneal opened #6 "Redfish for openBMC"
I find the version of schema is latest in static folder, but it can not support the Composable System and the version of redifsh is 1.1 according to the hard code of RootService, I guess if the current implement of Redfish just following the OCP Redfish Profile, dont care the new Composable  Service? or It will be supported later? and I can not find where  handle with the schema json, just hardcod

[2018-09-10 14:05] #1 closed

[2018-09-10 14:09] edtanous commented on #6
The immediate priority has been the OCP profile.  I do not believe anyone has looked into composition service yet, nor have I seen any requirements for it.  Do you have requirements, or suggestions on how it should be done?  I'd recommend taking them to the mailing list.

[2018-09-11 06:18] #6 closed

[2018-09-29 02:27] jinneal opened #7 "Unknown service for xyz.openbmc_project.EntityManager"
I find getChassis try to get instances from the service "xyz.openbmc_project.EntityManager", but I can not find the service in "busctl list", who know the service name of process?

[2018-09-29 02:50] edtanous commented on #7
https://github.com/openbmc/entity-manager

[2018-09-29 02:54] jinneal commented on #7
How to add it into my openbmc? is it in common layer?

[2018-09-29 03:04] jinneal commented on #7
Change 10474 - Needs Code-Review Label (Work in Progress), I close it now

[2018-09-29 03:04] #7 closed

[2018-10-02 09:42] Kenthliu opened #8 "POST request session response 405"
I am trying test redfish interface with test_redfish_interfaces.robot in openbmc-test-automation

But it fail when Test Setup at the beginning.

It will POST a session and return 405.

![image](https://user-images.githubusercontent.com/15260220/46340961-9b0d3580-c669-11e8-95ef-0fe42ed56721.png)

Using curl command got the same result.
![image](https://user-images.githubusercontent.com/15260220/463

[2018-10-03 22:16] edtanous commented on #8
Looking at the responses you're getting, it's pretty clear you're not talking to bmcweb.  When I try your command (plus a --noproxy addition specific to me) against bmcweb I get the following response.

[code]
The above is an error message I would expect to see if I were talking to redfish.

First thing, make sure you're talking to bmcweb.  I'm not sure what platform you're on, or what packages yo

[2018-10-04 02:43] Kenthliu commented on #8
Hi Ed

Thank you very much!

It looks I sent the wrong command.

The command you list is also work by my side.

But it needs to indicate the port 883.

![image](https://user-images.githubusercontent.com/15260220/46450115-3ca79a80-c7c2-11e8-8995-ebd967299cbd.png)

Thank you again and issue can be closed.

[2018-10-04 02:43] #8 closed

[2018-10-16 19:42] #4 closed

[2018-10-18 20:12] joseph-reynolds opened #9 "Converge or configure HTTP response headers"
As we move off of nginx and onto bmcweb, I want to ensure that bmcweb writes the correct HTTP response headers.  Currently there are several nginx config files, e.g.,
 - https://github.com/openbmc/meta-ibm/blob/master/recipes-httpd/nginx/files/nginx.conf
 - https://github.com/openbmc/openbmc/blob/4feb727cd6b77a68bdaca63e121b378d814f5eaf/meta-openembedded/meta-webserver/recipes-httpd/nginx/files/ng

[2018-10-18 20:56] edtanous commented on #9
bmcweb currently targets the OWASP http security headers here:
https://www.owasp.org/index.php/OWASP_Secure_Headers_Project#tab=Best_Practices

This is documented in the Developing.md file inside the repo.

The only exception to that list is our lack of Public Key Pinning, given how BMCs are generally provisioned, keys can be changed, so key pinning is not desired or required.

"for HTTP, the Stri

[2018-10-31 17:47] edtanous commented on #9
Can this issue be closed?

[2018-11-01 03:33] joseph-reynolds commented on #9
13 days? ... I have been distracted.  I am looking at differences between https://gerrit.openbmc-project.xyz/#/c/openbmc/meta-ibm/+/14800/1/recipes-httpd/nginx/files/nginx.conf and https://github.com/openbmc/bmcweb/blob/master/include/security_headers_middleware.hpp. The significant differences are:
 - X-Content-Security-Policy -vs- Content-Security-Policy
 - Content-Security-Policy value changed

[2018-11-12 02:12] edtanous commented on #9
It looks like you've found exactly where the changes need to be made.  Do you think you could open a gerrit review for the changes you're proposing, and we'll go from there.

[2018-11-13 20:04] joseph-reynolds commented on #9
Created review for this: https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/15765.
Closing this issue.

[2018-11-13 20:04] #9 closed

[2018-11-27 18:33] edtanous opened #10 "Feature: Allow JsonSchema support to be optional"
Given that the JsonSchema files take up quite a bit of space (~100k on my system), and not everyone might need them, it makes sense to make them a configurable feature, rather than a requirement.  This likely could use the existing options capabilities to simply enable or disable the installation of those schema files, as well as the resulting route changes.

[2018-11-28 06:00] yyaocsyy opened #11 "build error with build_x86.sh"
Got a buld error with cmake ..
`checking for python extension module directory... ${exec_prefix}/lib/python2.7/dist-packages
./configure: line 5115: syntax error near unexpected token `newline'
./configure: line 5115: `AX_PKG_CHECK_MODULES('
CMakeFiles/sdbusplus-project.dir/build.make:110: recipe for target '/home/yyaocs/bmcweb/build/sdbusplus-project/src/sdbusplus-project-stamp/sdbusplus-project-

[2018-11-28 06:01] yyaocsyy commented on #11
The CMakeOutput.log
[CMakeOutput.log](https://github.com/openbmc/bmcweb/files/2623101/CMakeOutput.log)

[2018-11-29 14:10] gkeishin opened #12 "Host is off but BMC web Chassis PowerState shows it's powered on"
[code]

[code]
but bmc web says its poweron
[code]

[2018-11-29 15:20] edtanous commented on #12
This is correct behavior.  You are looking at the chassis interface.  Power state for the this resource is determined by whether or not the chassis has power, which, by virtue of the fact that your BMC is powered, means that it should always return ON if the BMC is operational.

If you are looking for the host power state, you should be looking at the Systems interface, not the chassis interface.

[2018-11-29 15:43] gkeishin commented on #12
ok. so under /redfish/v1/Systems/motherboard/  resource i see this
"PowerState": "Off"

Which is still off.

[code]

[2018-11-29 20:38] edtanous commented on #12
That's strange.  The check for that parameter should be based on

path: /xyz/openbmc_project/state/host0
interface: xyz.openbmc_project.State.Host
property: CurrentHostState

If the current host state matches xyz.openbmc_project.State.Host.Running, that parameter is set to on, in all other cases it's set to off.
Can you verify that parameter is reading running on DBus?

The relevant logic for this

[2018-11-30 02:35] ratagupt opened #13 "Redfish(LDAP): Add support for LDAP configuration in bmcweb."
SchemaFile:- https://redfish.dmtf.org/schemas/v1/AccountService.v1_3_1.json

In the above schema file there is a property named ActiveDirectory/LDAP

ActiveDirectory:- Would be used if ldap server is ActiveDirectory
LDAP:- would be used if ldap server is OpenLDAP/ other then AD.

LDAP /ActiveDirectory in redfish is of type of ExternalAccountProvider

Which Redfish Property(ActiveProperty/LDAP) to

[2018-11-30 08:00] gkeishin commented on #12
*When host is powered off*
[code]

*When host is powered on*

[code]

[2018-11-30 19:10] edtanous commented on #13
Just so we're clear, we're not planning on supporting active directory as part of this work, right?  If you do want it supported, I suspect that is a separate task.

One part of this task that should also be considered is the LocalAccountAuth property on account service.  We should likely support that property at some point.

The above looks roughly correct for what I would expect.  I would recomm

[2018-11-30 19:13] edtanous commented on #12
This looks like someone broke the Dbus interface enum contract:

The comparison in bmcweb is currently:
xyz.openbmc_project.State.Host.Running
Whereas your system is responding with
xyz.openbmc_project.State.Host.HostState.Running

Not sure who is correct, but it should be pretty easy to remedy.  I'm going to guess bmcweb is at fault here.

[2018-11-30 19:30] feistjj commented on #11
Have you tried sudo apt install tinyxml2 ?

[2018-12-02 10:50] ratagupt commented on #13
Thanks @edtanous for your suggestion, I would try with mockup first then real.
I was planning to implement the ActiveDirectory with the same story.I am hoping only the property name is different in both the cases.
For non activeDirectory is it "LDAP" and for activeDirectory it would be "ActiveDirectory".

[2018-12-03 16:57] spinler opened #14 "REST /enumerate API doesn't return all objects"
With the latest C++ mapper fixes, the /enumerate call misses things, like:

[code]

[2018-12-03 17:00] spinler opened #15 "REST API errors aren't in JSON"
The Robot CI tests needs responses like:

[code]

instead of:
[code]

[2018-12-03 17:00] spinler commented on #14
i'm taking a look at this

[2018-12-03 17:20] feistjj commented on #11
That looks like what I have installed. I think your error is higher up in the log, looking at my system I see tinxyml2 being built.

[code]

[2018-12-04 04:57] yyaocsyy commented on #11
hi @feistjj

Find the workaround:
1, git clone https://git.savannah.gnu.org/git/autoconf-archive.git
2, cp autoconf-archive/m4/* /home/yyaocs/work/bmcweb/build/sdbusplus-src/m4/

Then can fix the error:
./configure: line 5115: syntax error near unexpected token newline' ./configure: line 5115: AX_PKG_CHECK_MODULES('

[2018-12-04 06:09] yyaocsyy commented on #11
Hi @feistjj

It seems the build is done.
Thanks for your help.
I'm new here, may I ask is there any way that I can access openbmc by web(just link open a admin page by  browser)?

Just linke:
![capture_temp](https://user-images.githubusercontent.com/39118357/49422259-2a4fda00-f7ce-11e8-960b-e674d713d596.JPG)

[2018-12-04 06:18] edtanous commented on #11
Bmc web launches on port 18080 by default, but you will not get a webui like you’re expecting.  Bmcweb is only the backend server, you will need the front end server from phosphor-webui to get a GUI implementation.

[2018-12-04 08:13] edtanous commented on #11
I would recommend starting with an OpenBMC build, rather than attempting to build the pieces by hand individually.  While most pieces should work on their own, there are a number of runtime dependencies between openbmc components (as you've found with the webui).  There are several easy-to-source hardware platforms, and QEMU works quite well if you can't get a supported platform.

[2018-12-04 08:59] yyaocsyy commented on #11
Hi @edtanous

Thanks for your reply,
Yes, I have already build openbmc and also success running on my server.
and the curl -b cjar -k -H command is working well.
curl -c cjar -k -X POST -H "Content-Type: application/json"     -d '{"data": [ "root", "0penBmc" ] }'     https://10.64.5.236/login
{
  "data": "User 'root' logged in",
  "message": "200 OK",
  "status": "ok"
}
But I can't open a webui fo

[2018-12-05 18:41] gkeishin opened #16 "Unexpected multiple resource created for Systems"
[code]
Is this valid why we would have these multiple resources ? System/1 ... System/5.. and so on ?
Shouldn't it be just 1 resource    System/1 here?

[2018-12-05 18:53] gkeishin opened #17 "Session Member and count show 0 when queried using Active session"
[code]
Atleast there should be 1 for this session .. Looks like the
[code]
Member show none and count 0 ?

Example like "/redfish/v1/SessionService/Sessions/UKXvb6qc9S" for a given active session..
[code]

[2018-12-05 22:09] gtmills opened #18 "Redfish: Processor Internal error"
On a witherspoon with a recent master builld
[code]
This is caused by the ProcessorCoreCount property not existing.
https://github.com/openbmc/bmcweb/blob/8c20c72f4eeeda4b17e5a3f113965a5aa94944ce/redfish-core/lib/cpudimm.hpp#L89
Where does this ProcessorCoreCount come from? What interface?

[code]

[2018-12-06 16:17] gtmills opened #19 "Redfish: Memory internal error"
Recent master build on a Witherspoon
[code]
Where is this MemorySizeInKB property coming from?
https://github.com/openbmc/bmcweb/blob/8c20c72f4eeeda4b17e5a3f113965a5aa94944ce/redfish-core/lib/cpudimm.hpp#L219 is where the internal error is coming from.
[code]

[2018-12-06 21:05] gtmills commented on #16
+1. A garbage SystemId (e.g. /redfish/v1/Systems/asdfasdf) returns:
[code]
Instead it should return
[code]

[2018-12-06 21:41] gtmills commented on #12
@edtanous From https://redfish.dmtf.org/schemas/Chassis.v1_8_0.json:
[code]
When
[code]
I think  "PowerState" should be "Off"

[2018-12-06 23:39] edtanous commented on #15
Agreed, this needs to be improved.
It should just be a matter of hunting through https://github.com/openbmc/bmcweb/blob/master/include/openbmc_dbus_rest.hpp

And look for all calls to res.result, and append a call to res.jsonValue = {json payload I want}

Recently, for redfish error codes, we've moved to a different mechanism where the result code is set as part of a single error handler.  (see me

[2018-12-06 23:55] edtanous commented on #16
Per the IRC discussion, I think we need to go to a single, hardcoded "system" resource for now.  That should solve most of the issues here.

[2018-12-07 00:00] edtanous commented on #17
Looks like a botched merge conflict on my part.  This should fix it:

https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/16543

[2018-12-07 00:14] edtanous commented on #18
For Intel systems, this is coming from the xyz.openbmc_project.Item.Cpu interface
https://github.com/openbmc/phosphor-dbus-interfaces/blob/master/xyz/openbmc_project/Inventory/Item/Cpu.interface.yaml

I suspect the bug here is that we need to do something more sane if that count doesn't exist, like not including that property.

The line that's killing you is right here:
https://github.com/openbmc/

[2018-12-07 00:16] edtanous commented on #19
On X86 platforms, this is coming from the MDR daemon, which manages transfer of data between the BMC and the pre-boot infrastructure (BIOS).  This seems to be a very similar case where we're using dimm size of zero to indicate that the dimm isn't present.  We likely need to come up with a better interface to denote presence.

[2018-12-07 13:35] spinler commented on #15
I started working on this, and have a few of the paths finished and up in gerrit so far.

[2018-12-07 18:47] gkeishin opened #20 "OEM Id schema need fix"
For the resource /redfish/v1/Managers/bmc/  I see the following
[code]

those `"@odata.id"` should be     `"@odata.id": "/redfish/v1/Managers/bmc/Oem",`and `"@odata.id": "/redfish/v1/Managers/bmc/Oem/OpenBmc"`

[2018-12-07 18:55] feistjj commented on #20
Why do you think that? The # means it's on the same page, if it was as you suggest it would link to a new page which is incorrect.

[2018-12-07 19:43] edtanous commented on #20
@gkeishin Based on what I'm seeing, that response looks correct, and (at least for a filled schema) passes the service validator no problem.  The reason it looks slightly confusing is that it's backed by entity-manager interfaces that I'm guessing your system doesn't have enabled, so you get a blank schema, as no configuration is present.

If you still think the # is wrong, it would be good if you

[2018-12-10 09:32] gkeishin commented on #20
Thanks, @edtanous  for pointing out the RFC there..

So, the following fragment identifies a property of `OpenBmc` within `Oem`

[code]
and the property is defined as a reference property within the schema, the fragment needs to reference a `valid resource identifier` which doesn't seem to be the case here on our boxes or is it we haven't defined one for it Oem ?

@gtmills ^^^

[2018-12-10 23:11] #18 closed

[2018-12-11 07:06] #17 closed

[2018-12-11 07:06] edtanous commented on #17
Resolved as part of above commit.

[2018-12-11 07:08] edtanous commented on #20
You're close, but missing the fact that all of your resource identifiers seem to be valid.  /redfish/v1/Managers/bmc#/Oem/OpenBmc is a valid resource identifier for the object.

You may not have any fan control data populated, but an empty collection is still a valid one.

Have you tried running this through redfish service validator?  What does it say?

[2018-12-11 16:12] gkeishin opened #21 "Latest build reported broken via RedfishServiceValidator.py"
[code]
[code]

[code]

In older build, we were able to run it.. not sure what broke the master latest.

[2018-12-11 16:13] gkeishin commented on #20
Couldnt run on latest master.. looks broken there https://github.com/openbmc/bmcweb/issues/21

[2018-12-11 16:39] feistjj commented on #21
Instead of latest in the future can you give a SHA? https://github.com/openbmc/bmcweb/commit/6af833004631012048b4e5b097dc0905d74012d9 may have fixed it as this issue broke a lot of things, but I'm not sure what latest was in this bug.

[2018-12-12 20:51] spinler commented on #15
Resolved by https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/16641/

[2018-12-12 20:52] spinler commented on #14
Resolved by https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/16485/

[2018-12-13 03:46] gkeishin commented on #21
https://openpower.xyz/job/openbmc-build/1881/changes

still sees the same thing there.

[2018-12-13 03:48] gkeishin commented on #17
Verified on build https://openpower.xyz/job/openbmc-build/1881/changes

[code]

[2018-12-13 22:50] gtmills opened #22 "Redfish: Manager bmc UUID is 'OpenBMC'"
`curl -k -H "X-Auth-Token: $bmc_token" -X GET https://${bmc}/redfish/v1/Managers/bmc`
[code]
Redfish-Service-Validator throws an error for this:
ERROR - UUID: String 'OpenBmc' does not match pattern ''[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}''

Need a change here: https://github.com/openbmc/bmcweb/blob/1b6b96c570fdf7ca5c643f3d0776581656e78070/redfish-core/lib/man

[2018-12-14 04:58] #19 closed

[2018-12-14 16:14] edtanous commented on #22
Should be resolved here: https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/16792/

[2018-12-15 02:01] edtanous commented on #21
I'm not seeing the same on my system, so it would help if you could give me a little triage information.  In theory, that file should not require authentication, so it's odd that you're getting an unauthorized response.

if you try to get the /redfish/v1/$metadata file in a browser (not logged into the webui) does it work?
Now log into the webui and try again, does it work then?  When logged in, d

[2018-12-15 02:02] edtanous commented on #20
There have been no changes in that area jrecently.  The response should be the same.

[2018-12-16 15:55] gkeishin commented on #20
sure thing then. Will close this one for now..

[2018-12-16 15:55] #20 closed

[2018-12-17 05:51] gkeishin commented on #21
In a browser, you mean to key in the URL as https://xx.xx.xx.xx/redfish/v1/$metadata and try ?

I tried using the redfishtool
[code]

[code]
Not sure if that helps.

[2018-12-17 05:55] gkeishin commented on #21
Tried the service validator on latest https://openpower.xyz/job/openbmc-build/1886/changes  build

It seems to passed that login problem and shows this one
[code]

[2018-12-18 22:20] edtanous commented on #10
The aforementioned commit does not actually resolve this as it claims.  The number was a typo of another defect

[2018-12-19 18:22] gkeishin opened #23 "Redfish-JsonSchema-ResponseValidator.py errors"
[code]

[code]

[2018-12-29 17:12] #15 closed

[2018-12-29 17:13] #14 closed

[2018-12-29 17:15] edtanous commented on #11
Sorry for the slow response.  Looking at your screenshot, it looks like you forgot the https:// in front of your ip address in the browser bar.

[2019-01-09 03:39] geissonator commented on #12
I ran into the HostState part of this while looking at some other stuff so put a quick fix up in https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/17196/

I said it resolves this issue but not sure if we're tracking something else here?

[2019-01-09 15:10] gkeishin commented on #12
Awesome.. That should do for this one. @geissonator

[2019-01-09 15:17] spinler opened #24 "bmcweb's REST API doesn't support method return data"
Calling a D-Bus method via REST with /path/action/method needs to support returning the method data, if there is any.  It already has the introspection data, so it knows the signature.  It just needs to grab the data from the d-bus message and convert it to the proper form for the JSON response.

I plan on working on this.

[2019-01-09 18:33] spinler opened #25 "REST error status codes don't always match the JSON"
For example,
[code]

My fault. Will fix.

[2019-01-09 20:04] spinler opened #26 "REST: GET /foo could use a full error response"
Continuing with issue #15, when doing a GET on a completely invalid path that doesn't start with /xyz or /org, it would be nice to get the full
[code]
instead of just:
[code]

[2019-01-10 03:06] #12 closed

[2019-01-10 15:36] spinler commented on #24
@edtanous can you assign this to me?

[2019-01-10 15:40] edtanous commented on #24
Done

[2019-01-10 17:15] #25 closed

[2019-01-10 18:36] gtmills commented on #12
There is still a problem with https://github.com/openbmc/bmcweb/blob/master/redfish-core/lib/chassis.hpp#L151
[code]

[2019-01-10 18:42] geissonator commented on #12
New issue please?

[2019-01-10 20:32] gtmills opened #27 "Chassis PowerState always shows on"
So we don't lose the discussion on https://github.com/openbmc/bmcweb/issues/12

https://github.com/openbmc/bmcweb/blob/master/redfish-core/lib/chassis.hpp#L151 Should look at:

      "CurrentPowerState": "xyz.openbmc_project.State.Chassis.PowerState.Off",

From https://redfish.dmtf.org/schemas/Chassis.v1_8_0.json:
[code]

[2019-01-10 20:34] gtmills commented on #12
@geissonator This was the original problem "Chassis PowerState shows it's powered on".
The issue should not have been closed yet.
Opened an issue so we don't lose this: https://github.com/openbmc/bmcweb/issues/27
This issue can stay closed.

[2019-01-11 16:31] #22 closed

[2019-01-11 16:32] edtanous commented on #26
@mspinler I'm assuming this is something you're looking at, so I've assigned it to you.  If it's something you'd like me to tackle, let me know, and I'll add it to the backlog.

[2019-01-11 16:47] spinler commented on #26
Yea, me or someone on my team will do it in our quest to get the number of testcase fails as low as possible.

[2019-01-11 21:47] omar-ocampo opened #28 "Redfish: Account service does not implement account lockout or PrivilegeMap features"
BMCWeb seems to be using AccountService.v1_1_0.

According to https://redfish.dmtf.org/schemas/v1/AccountService.v1_1_0.json the next fields are not implemented in the BMCWeb account_service.hpp:

Status
AuthFailureLoggingThreshold
MinPasswordLength
AccountLockoutThreshold
AccountLockoutDuration
AccountLockoutCounterResetAfter
PrivilegeMap

Are those planned to be implemented in future versions?

[2019-01-11 22:31] edtanous commented on #28
I've updated the title to reflect what I believe the status is.  Let me know if you think I'm incorrect.

[2019-01-11 22:35] edtanous commented on #23
The first error might be related:
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/17076

Not sure about the second error.

[2019-01-14 17:42] omar-ocampo commented on #28
Should MinPasswordLength, AccountLockoutThreshold and AccountLockoutDuration appear on the GET request for account service?

I do agree with the change of the title.

[2019-01-16 15:00] spinler commented on #26
This also shows up on PUTs

[2019-01-17 17:21] geissonator opened #29 "Building with debug enabled causes lots of warnings"
I assume something to do with our recent gcc upgrade? Or maybe it's just been here for a bit. When you do a "cmake ./ -DCMAKE_BUILD_TYPE:type=Debug" you end up with all these warnings due to the tracing.

[code]

[2019-01-17 17:56] edtanous commented on #29
Yep.  This is an example of poor maintainership on my part.  -Werror isn't enabled on release builds because we didn't want to break with every new gcc version, but the hope was that people built with debug enough to find these, and we could get them resolved.

That assumption hasn't turned out to be as true as I'd like it to be.  Fixing these warnings is on my list, but I'm happy to accept any in

[2019-01-18 14:17] #26 closed

[2019-01-21 15:55] spinler opened #30 "bmcweb crashes on upload of invalid software image file"
It also returns a failure even when the image upload succeeds.

I don't think the bmcweb implementation of image upload is quite right.

How the phoshor-rest server does it, which works for both UBI and non-UBI software updates, is:

Subscribe to interfacesAdded on /xyz/openbmc_project/software and look for the xyz.openbmc_project.Software.Version interface.  Pull the actual version off of the pat

[2019-01-22 16:45] #24 closed

[2019-01-23 16:47] frsauvage opened #31 "websocket not working"
Hi all,

I started my websocket tests from the scripts\websocket_test.py file.

Issue : The connection is always closed after a first ws.recv() (empty result).

I spent times to get a correct handshake, so in `create_connection `cookie parameter, I suppose `XSRF-TOKEN` is the token received in the response when creating a session and `SESSION` is the received session id.

This part seems to work,

[2019-01-23 20:02] #30 closed

[2019-01-23 21:47] edtanous commented on #31
Sorry for your troubles.  We could certainly provide better, and more up to date examples of usage.

The example I use is attached below, and logs into the websocket using basic auth, thus logging in without requiring the double request approach.  For production settings, session tokens are still recommended, but not required.

[code]

When I run that, I get the following on my console
[code]

[2019-01-24 08:40] devenrao opened #32 "bmcweb: redfish: Modify update_schema script to support OEM schemas"
There's a bug in the script that currently deletes this schema (because it's an OEM schema). Because it's the only one, and we don't update schemas very often, we just manually fix it until someone proposes a more permanent fix.

Refer to the code comments in this patch
https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/17551/4/scripts/update_schemas.py

[2019-01-24 08:50] frsauvage commented on #31
Thank you edtanous , I am so gratefull !
It still does not work but I have a different server from you, so that should be the source of my issue:

![image](https://user-images.githubusercontent.com/23147820/51665571-5ca2da00-1fbc-11e9-9813-6afbf7e5d8f1.png)

I try to figure it out by my side and I keep contact.
Best Regards,
Francine

[2019-01-24 09:14] tomdol opened #33 "Build failing - cannot find boost/asio.hpp"
Hi,

I've been trying to build the bmcweb both using the shell script and manually using cmake but it looks like there's an include path problem on my machine.
`
In file included from /home/tomek/git/bmcweb/src/getvideo_main.cpp:20:0:
/home/tomek/git/bmcweb/include/ast_video_puller.hpp:4:10: fatal error: boost/asio.hpp: No such file or directory
#include <boost/asio.hpp>
          ^~~~~~~~~~~~~~~~

[2019-01-25 20:50] ssombar opened #34 "Read Attribute of power supply failing"
We are seeing this fail
Read Attribute ${object_base_uri_path} Values quiet=${1}
where
object_base_uri_path=/org/open_power/sensors/aggregation/per_30s/ps0_input_power/average

[2019-01-25 20:50] ssombar commented on #34
I believe Matt says this is a known bug.  Submitting this to track the issue.

[2019-01-25 20:54] spinler commented on #34
It just doesn't support doing a Get on this type:

https://github.com/openbmc/openpower-dbus-interfaces/blob/master/org/open_power/Sensor/Aggregation/History/Average.interface.yaml#L25

 type: array[struct[uint64,int64]]

[2019-01-25 20:59] spinler opened #35 "bmcweb crashes on subscribed service restarts"
I stumbled into the fact that when the web UI is running, if the xyz.openbmc_project.State.Host service restarts, that bmcweb will crash with an unhandled exception that happens when it tries to handle the interfacesAdded signals it gets when the Host interfaces go back on the bus, which is does at all because the web UI subscribes to that interface using /subscribe.

I haven't determined yet if j

[2019-01-25 22:49] edtanous commented on #35
I think I see what's going on.  the sbuscribe interface previously just silently returned default initialized values before sdbusplus was modified to throw on unpack error.  If I had to guess, the error is here:
https://github.com/openbmc/bmcweb/blob/da21df7cde6abd82e2839cde8ab9eb96ea571492/include/dbus_monitor.hpp#L73

At the time this was written, it only supported unpacking basic property types

[2019-01-28 07:57] edtanous commented on #31
.....  FYI, it sounds like the project is moving toward a "pure" bmcweb solution, without nginx at all.  You might consider testing with that, as it has a number of advantages.

[2019-01-28 16:07] spinler commented on #35
I will add the try/catch blocks for now.  The convertDBusToJSON function needs the D-Bus signature, and I haven't thought of a way to to get that in this path.

[2019-01-31 15:31] prkatti1 opened #36 "Unable to configure new IP address on eth interface"
Unable to configure new IP address on eth interface via redfish.
Following command is run:
[code]

When we run to get configured results: it replaces link local address:
[code]

But on system using ip addr:

[code]

[2019-01-31 15:32] prkatti1 commented on #36
@ratagupt FYI...

[2019-01-31 15:53] edtanous commented on #31
@frsauvage any updates here?  This looks like it's some incompatibility between nginx and the scripts you're using.  The WebUI seems to successfully launch, which utilities the /subscribe api, and we're not seeing any issues on non-nginx systems.
I suspect this bug needs to be opened against meta-ibm.

[2019-01-31 15:55] edtanous commented on #28
If you have the appropriate features enabled in phosphor-user-manager, yes, those properties should show up

[2019-01-31 16:00] frsauvage commented on #31
@edtanous , I am still waiting for the web server on my side, I cannot do
it by myself. I will tell you , I promise ;-)

Le jeu. 31 janv. 2019 à 16:53, edtanous <notifications@github.com> a écrit :

[2019-01-31 16:14] edtanous commented on #31
I'm not really following....   You filed this bug against bmcweb, which I assumed means you're using that component as your webserver (be aware, this is not the default for the OpenBMC project).  If you're not, you need to file the bug against the webserver you're using, so the maintainers are made aware and can get it resolved.
Based on the responses, you are running on an nginx based IBM BMC?  T

[2019-02-01 06:56] prkatti1 commented on #36
@edtanous could you Pls take a look into it.

[2019-02-01 07:54] frsauvage commented on #31
Hi  edtanou,
*Based on the responses, you are running on an nginx based IBM BMC?* Yes,
but I did NOT know it before posting. I did not even imagine it could be
possible, because every body here is talking about OpenBMC, never IBM !

So your post was very helpful because I discover that some components -
like nginx - from IBM are present, and it should no more be the case. I was
upset too !

We are

[2019-02-01 14:43] frsauvage commented on #31
Hi  edtanou, your code works perfectly, thank you !

[2019-02-01 14:43] #31 closed

[2019-02-01 16:40] edtanous commented on #31
FYI, making bmcweb the standard got merged to mainline in this patch this morning.

https://gerrit.openbmc-project.xyz/c/openbmc/meta-phosphor/+/12933/

If you still see websocket issues when running the mainline code, let me know.  I will get the websocket example updated with the easier to use version I posted above.

[2019-02-01 21:32] #33 closed, assigned to nobody

[2019-02-02 18:44] edtanous commented on #36
Bad gateway makes it sound like bmcweb is crashing.  I don't have the time to look into it this moment, but it would help a lot if you could dump the logs from journalctl.

[2019-02-02 18:45] edtanous commented on #32
FYI, this is just an issue when we update schemas.  This does not have any functional impact on the BMC itself, unless this is forgotten during a schema update.

With that said, would love to see a fix for it.

[2019-02-04 03:43] gkeishin commented on #36
@prkatti1 Can u provide the data here for @edtanous to take a look. Thanks

[2019-02-04 06:03] prkatti1 commented on #36
@edtanous Pls find journald logs as requested.

Feb 04 05:55:27 witherspoon login[1187]: pam_unix(login:session): session opened for user root by LOGIN(uid=0)
Feb 04 05:55:27 witherspoon login[1412]: ROOT LOGIN  on '/dev/ttyS4'

Feb 04 05:56:25 witherspoon systemd[1]: Started BMC Redfish Server (bmcweb).
Feb 04 05:57:54 witherspoon bmcweb[1418]: terminate called after throwing an instance of 'nloh

[2019-02-04 21:17] edtanous commented on #36
This looks like it's in the area where we already have a patchset in progress.  Can you pull it down and try it?

https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/16596

[2019-02-05 14:24] JesusPhish opened #37 "Issue building with openbmc SDK - sdbusplus"
I've seen these issues - https://github.com/openbmc/bmcweb/issues/2  and https://github.com/openbmc/bmcweb/issues/3 - but I believe it to be different from what I'm seeing now.

Here is my process

- Source into SDK ". /home/ircadmin/OpenBMCTutorials/SDK/romulus-2019-02-04/environment-setup-armv6-openbmc-linux-gnueabi"
- Fresh checkout of latest bmcweb
- CD into repo
- Run build_x86.sh ". build_x8

[2019-02-06 04:37] gkeishin opened #38 "bmc web /redfish/v1/Managers/bmc Version mismatch"
There are two BMC images on the flash,
[code]
Now the /redfish/v1/Managers/bmc/ shows the Active but not the running one here.

"FirmwareVersion": "2.6.0-rc1-151-gf8d0724",

Verify BMC Firmware Version :: Get firmware version from BMC manager. | FAIL |
2.6.0-rc1-151-gf8d0724 != 2.6.0-rc1-150-ge14eac3

So I believe this needs to be fixed ?  @edtanous @anoo1

[2019-02-06 10:33] prkatti1 commented on #36
@edtanous  CI build is not there anymore can u rebase ?

[2019-02-06 16:22] JesusPhish commented on #37
Just to add to this, if I wipe the build directory, then set YOCTO_DEPENDENCIES to ON and re-run the build script, bmcweb builds ok.

[2019-02-11 12:34] prkatti1 opened #39 "gateway field for the link local address is not there in redfish"
gateway field for the link local address is not there.

curl -k -H "X-Auth-Token: $bmc_token" -X GET https://${bmc}/redfish/v1/Managers/bmc/EthernetInterfaces/eth0/
{
  "@odata.context": "/redfish/v1/$metadata#EthernetInterface.EthernetInterface",
  "@odata.id": "/redfish/v1/Managers/bmc/EthernetInterfaces/eth0",
  "@odata.type": "#EthernetInterface.v1_2_0.EthernetInterface",
  "Description": "Man

[2019-02-11 16:19] ratagupt commented on #13
@edtanous Can we get the Redfish PATCH request format to remove the LDAP Configuration

I have couple of ideas for the same

1)  PATCH {"LDAP": null}   ===> Seems Redfish schema doesn't allow this.
<Property Name="LDAP" Type="AccountService.v1_3_0.ExternalAccountProvider" Nullable="false">

Redfish says that this property can't be null.

2) Can be nullify the sub properties of LDAP property under

[2019-02-12 03:55] edtanous commented on #13
What's wrong with empty strings instead of null?  Isn't that what we default to anyway?

[2019-02-12 04:57] ratagupt commented on #13
1) If all the subproperties is null then we can delete the backend D-bus object and if the user does the GET request on the Account Service then the user would not get the LDAP property.

2) If we start patching all the properties with empty string then the user would get the LDAP property and its sub-properties having the empty string as part of GET request on the Account Service.

With the secon

[2019-02-12 14:25] smccarney opened #40 "Issue building bmcweb with SDK and -DBMCWEB_INSECURE_DISABLE_SSL=ON"
The following compiler errors occur when building bmcweb with the SDK and the cmake option -DBMCWEB_INSECURE_DISABLE_SSL=ON

[code]

[2019-02-13 02:55] geissonator opened #41 "unit tests not run and do not compile in openbmc CI"
Do these just need some TLC?  Is there a unit test plan with bmcweb? I see a bunch of tests out there but when I enabled them and ran them within the openbmc CI unit test docker container I got the below errors.

I'm also interested in our plans for unit testing our Redfish support.  https://github.com/openbmc/bmcweb/tree/master/redfish-core/ut is the landing spot for these? We probably want some

[2019-02-14 02:20] edtanous commented on #13
I believe the 1st option is more compliant, but I'm far from an expert.  This is probably a better question for the redfish forum.

[2019-02-14 03:19] edtanous commented on #41
The build issue is more broken than I thought it would be.  Long term, I'd like to get these unit tests moving better, but of the other contributors to bmcweb thus-far, I was the only one pushing unit tests, and we were missing some infrastructure that I wasn't prepared to write at the time, so I let some stuff slide and these fell a little by the wayside.  This needs resolved in my opinion, and c

[2019-02-14 03:41] edtanous commented on #40
https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/18339

[2019-02-14 04:14] edtanous commented on #29
Partially resolved:
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/18345

[2019-02-14 09:06] prkatti1 commented on #39
@edtanous ca you Pls have look and update.

[2019-02-14 09:07] prkatti1 commented on #36
@edtanous could you Pls update on this?

[2019-02-14 10:57] ratagupt commented on #13
I have asked it in the redfish forum, seems I haven't get the reply but to way forward we can implement the same option1.
If in future when we get a reply we can make the change.

[2019-02-14 13:01] gkeishin commented on #36
@prkatti1 Can u bit bake image and run the test perhaps and confirm if it works

[2019-02-14 14:00] maximyep opened #42 "SNMP: allowed to configure manager with out of range port value > 65535"
Steps to reproduce
**Sent to QEMU:**

curl -X POST -k -H 'Authorization: Basic cm9vdDowcGVuQm1j' -i 'https://127.0.0.1/xyz/openbmc_project/network/snmp/manager/action/Client' --data '{"data":["3.3.3.8", 65536]}'
Actual: HTTP/1.1 200 OK
Expected: HTTP/1.1 400 (OR Other error)
![2019-02-11 15_04_32-bmc running - oracle vm virtualbox](https://user-images.githubusercontent.com/3142364/52791284-4515b90

[2019-02-14 14:30] gkeishin commented on #42
https://gerrit.openbmc-project.xyz/#/c/openbmc/openbmc-test-automation/+/18240/

@maximyep  made changes in test code which caught this.

[2019-02-15 11:12] prkatti1 opened #43 "Unable to modify MAC address"
Unable to modify MAC address. Tried both PATCH and PUT methods.
PATCH gives 400 error
PUT gives 200 OK, but MAC address is not getting changed.

PUT method output:
bash-4.1$ curl -k -H "X-Auth-Token: $bmc_token" -X PUT -D put.txt -d '{"MACAddress": "x2:xx:xx:xx:xx:xx"}' https://${bmc}/redfish/v1/Managers/bmc/EthernetInterfaces/eth0/
bash-4.1$ cat put.txt
HTTP/1.1 200 OK
Strict-Transport-Security:

[2019-02-15 11:16] prkatti1 opened #44 "Unable to configure hostname using redfish"
PATCH is giving 405 method not allowed.
PUT is giving 200OK but hostname is not getting changed.
bash-4.1$ curl -k -H "X-Auth-Token: $bmc_token" -X PATCH -D patch.txt -d '{"HostName": "bmcbmc"}' https://${bmc}/redfish/v1/Managers/bmc/NetworkProtocol
Method Not Allowedbash-4.1$ cat patch.txt
HTTP/1.1 405 Method Not Allowed
Strict-Transport-Security: max-age=31536000; includeSubdomains; preload
X-Fr

[2019-02-15 15:16] geissonator commented on #41
Thanks for the details Ed. Number 1 sound like it could be a bit of work? Would it make more sense to focus on number 2 first? Just something simple and lightweight where users can write basic unit tests against their code? Mock the dbus call to return some default data and verify the returned json output is correct? Or if we get number 1, do you consider number 2 somewhat redundant? Any chance yo

[2019-02-16 04:33] ratagupt commented on #43
Hoping @prkatti1 you are using the local admin mac to change the mac address, I digged in the code and find that we don't have the support for PATCH of MAC Address.

[2019-02-18 10:01] maximyep commented on #39
Some details:
**1. Route deleted and added non-default**
Expected: Gateway 1.2.3.4
Actual  : Gateway 0.0.0.0

max@max-VirtualBox:~$ curl -c cjar -b cjar -k -H "Content-Type: application/json" -X GET  https://192.168.122.52/xyz/openbmc_project/network/eth0/ipv4/807091b4
{
  "data": {
    "Address": "169.254.40.210",
    "Gateway": "0.0.0.0",
    "Origin": "xyz.openbmc_project.Network.IP.AddressOrig

[2019-02-18 15:51] frsauvage opened #45 "Why Software Inventory"
Hi,

In the Firmware inventory, the firmware fo the bmc is named 'Software Inventory' (in update_service.hpp).
Is there any reason why the firmware for an open BMC is hard-coded ?
What would be the "Name=" for BIOS/CPLD/FPGA.... firmwares ?

Regards,
Francine

[2019-02-18 16:27] geissonator commented on #45
I've got a commit up here (https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/18270/) to fill in the Description field. I was also wondering if some improvements to the Name field would make sense as well.

[2019-02-19 05:48] prkatti1 commented on #44
@edtanous could you Pls take a look at it.

[2019-02-19 05:48] prkatti1 commented on #43
@edtanous could you Pls take a look at it.

[2019-02-19 05:56] edtanous commented on #43
The code is available to you.  Are you having trouble understanding it?  Having trouble putting together a patch to fix it?  I think ratagupt gave you some basic triage and his explanation seems to make sense to me.

I don’t know what’s going on here off the top of my head, if that’s what you were looking for.

[2019-02-19 06:04] edtanous commented on #44
Are you having trouble understanding the code for this functionality?  I don’t see any specific requests on what you need help with, so I’m at a bit of a loss on how I can help you triage this without just debugging it for you.
I don’t know any specifics of how this code works beyond just looking at the code.

[2019-02-19 10:17] ratagupt commented on #43
@edtanous seems bmweb doesn't have support for PATCH of MAC address(even for local admin mac), we would be pushing the code for review next week.

[2019-02-19 15:11] frsauvage commented on #45
Thank a lot , [geissonator](/geissonator), I hope it will be soon improved !

[2019-02-20 03:02] edtanous commented on #42
Based on the reproduction, this looks to be a missing range check in networkd.  We should probably open the bug there.

[2019-02-20 04:15] ratagupt commented on #44
@edtanous https://github.com/openbmc/bmcweb/blob/master/redfish-core/lib/network_protocol.hpp
Seems we need to mark it as an enhancement as we don't have PATCH support here.

[2019-02-21 01:42] #40 closed

[2019-02-21 03:02] theoneofjohnny opened #46 "Error about "AX_CXX_COMPILE_STDCXX_17(noext)""
Hi,

I am a newbie on Bmcweb. I am trying to build Bmcweb along without OpenBMC but fail. I get these errors.

`johnny is not in the sudoers file.  This incident will be reported.
-- Configuring done
-- Generating done
-- Build files have been written to: /home/johnny/projects/bmcweb/3rdparty
[  2%] Performing update step for 'tinyxml2'
[  5%] Performing configure step for 'tinyxml2'
CMake Depreca

[2019-02-21 03:51] ratagupt opened #47 "Redfish(Network): DHCPv4Configuration"
Map the following D-Bus Interface with Redfish Schema
https://github.com/openbmc/phosphor-dbus-interfaces/blob/master/xyz/openbmc_project/Network/DHCPConfiguration.interface.yaml

[code]
IBM is working on it.

[2019-02-21 08:50] ratagupt opened #48 "Redfish(Network): How to delete the IP addresses?"
In redfish ipv4addresses(array type) is the property under ethernet interface resource, So user should be allowed to add and deletion of certain ip addresses.
I could have seen that user can not delete the ip address as we have the following condition which stops deleting the IPaddress.
[code]

[2019-02-21 15:18] ratagupt opened #49 "Redfish(Systems): Unnecessary code is there for CPU and Dimm interface(Empty Interface)"
I saw that bmcweb code is referring to some properties which is not there in the meta-phosphor/phosphor-dbus-interfaces.

I could have seen that the dimm or cpu are empty interfaces but in the code, we are expecting the following properties

[code]

[code]
I am not getting why we are expecting this property here?

@edtanous ^^^^

[2019-02-21 17:30] gtmills commented on #21
@gkeishin Can this be closed or still a problem?

[2019-02-21 18:38] geissonator commented on #21
I still see issues with our latest code, are these expected?

[code]

[code]

[2019-02-22 07:37] prkatti1 opened #50 "Redfish: DNS configuration not working"
Unable to configure nameservers on BMC.

[code]
[code]

[2019-02-22 07:41] prkatti1 opened #51 "Redfish: unable to enable VLAN"
Unable to configure or enable VLAN on BMC:
Getting errror:
```The property VLANEnable is a read only property and cannot be assigned a value```
[code]

[2019-02-22 09:38] prkatti1 opened #52 "DHCP configuration resource URL does not exist"
DHCP configuration resource URL does not exist under ethernet interface eth0:

[code]

[2019-02-22 09:39] prkatti1 opened #53 "NTP resource URL does not exist"
[code]

[2019-02-22 10:23] prkatti1 opened #54 "Default gateway resouce URL does not exist on BMC"
Default gateway resouce URL does not exist on BMC

[2019-02-23 04:32] gkeishin commented on #21
Now the error list increased from 8 to 19 here

[code]

[code]

[2019-02-25 14:18] sunharis opened #55 "Patch command on eth0 - IPv4Addresses crashed the bmcweb"
$ curl -k -H "X-Auth-Token: $bmc_token" -X GET https://9.3.185.161/redfish/v1/Managers/bmc/EthernetInterfaces/eth0{
  "@odata.context": "/redfish/v1/$metadata#EthernetInterface.EthernetInterface",
  "@odata.id": "/redfish/v1/Managers/bmc/EthernetInterfaces/eth0",
  "@odata.type": "#EthernetInterface.v1_2_0.EthernetInterface",
  "Description": "Management Network Interface",
  "IPv4Addresses": [

[2019-02-27 17:54] edtanous commented on #55
Review in progress that I suspect resolves this:
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/16596
Please pull it down and verify it it does what you need.

[2019-02-27 18:10] edtanous commented on #48
There is a patchset in progress to resolve some of these.  Please check out https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/16596 and see if it resolves some of your issues.

[2019-02-28 07:10] devenrao opened #56 "Cater for installing and replacing bmcweb certificate"
phosphor-certificate-manager supports for installing https certificate for nginx server. Changes should be done so that bmcweb and nginx share the same certificate for legacy reasons.

Changes to be done includes
1)openbmc repository to use a common certificate path for nginx and bmcweb
2)openbmc to specify bmcweb.service as a unit that needs to be restarted when a certificate is installed/replace

[2019-02-28 11:23] maximyep opened #57 "$metadata has incorrect Reference tag"
Get /redfish/v1/$metadata
go to the end of the file:
  <edmx:Reference Uri="/redfish/v1/schema/OemManager_v1.xml" /> **<--- "/" is not needed!**
  <edmx:Include Namespace="OemManager" />
  </edmx:Reference>

Full file:
[openbmc.metadata.txt](https://github.com/openbmc/bmcweb/files/2914723/openbmc.metadata.txt)

The sceenshot:
![2019-02-28 13_21_43-d__openbmc metadata xml - notepad](https://user-im

[2019-02-28 13:51] sunharis commented on #55
I pulled down this commit. The bmcweb does not crash anymore.

[2019-02-28 16:37] edtanous commented on #57
The bug description doesn't give any backup on _why_ this needs to be removed.  bmcweb produces an OemManager object in the Managers repo, so it's not clear why this would be removed.

Failing validator checks can be fixed by either disabling checking of Oem schemas in your config, or downloading the above referenced file, and insert it into your root store.

[2019-02-28 16:59] edtanous commented on #57
Per IRC, @devenrao is looking into this

[2019-02-28 17:00] edtanous commented on #55
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/16596 was merged.  Closing.

[2019-02-28 17:00] #55 closed

[2019-02-28 17:07] edtanous commented on #51
Can you please retest with the latest, with this patch that was merged recently.  It made some changes in this regard, but I'm not sure if it improved your behavior.
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/16596

[2019-02-28 17:11] edtanous commented on #50
Patch on the NameServers property is not yet supported.

[2019-02-28 17:15] edtanous commented on #46
You are trying to compile the project, but don't have a compiler with c++17 support, and you are on an old version of boost.  Update both, and your error should go away.

Alternatively, this project is part of the main OpenBMC project, so compiling it within yocto is recommended.

[2019-03-01 08:31] devenrao commented on #57
Pushed changes
https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/18792/

[2019-03-01 11:20] maximyep opened #58 "Redfish: OemManager.Oem' is not of type 'object'"
Execution of the https://github.com/DMTF/Redfish-JsonSchema-ResponseValidator
returns the following errors:

Full log:
[DMTF-RedfishJsonSchemaResponseValidator-full-logs.txt](https://github.com/openbmc/bmcweb/files/2919197/DMTF-RedfishJsonSchemaResponseValidator-full-logs.txt)

[2019-03-01 12:16] gkeishin commented on #58
[code]

[2019-03-01 17:17] edtanous commented on #58
@feistjj Have you seen this?

[2019-03-01 17:22] edtanous commented on #11
Closing due to lack of activity.  Please reopen if this is still an issue

[2019-03-01 17:22] #11 closed

[2019-03-04 07:28] gkeishin opened #59 "BMC web PATCH for AccountService MinPasswordLength and "MaxPasswordLength" response error message"
[code]
`Update MinPasswordLength`
[code]

`Update MaxPasswordLength`

[code]

[2019-03-04 07:32] ratagupt commented on #59
@gkeishin Seems in redfish account service schema, these properties are readonly that's why we are not supporting the PATCH operation.
======================================================
MaxPasswordLength
description "The maximum password length for this service."
longDescription "This property shall reference the maximum password length that the implementation will allow a password to be set t

[2019-03-04 07:39] gkeishin commented on #59
Fair enough.. got it @ratagupt  , let me know when the code is ready.. Thanks
[code]

[2019-03-04 18:45] edtanous commented on #59
While we could do something better here, like responding with read-only, the response isn't necessarily incorrect.  I'm going to mark this as an enhancement, and if someone wants to go update the readJson call to pull those parameters out, and return the correct error codes, they're more than welcome, but given that it's a failure mode, and it gives a pretty reasonable error message, this isn't hi

[2019-03-04 19:14] feistjj commented on #58
Nope, was working for me if you make sure to pull down the OemManager schema

[2019-03-06 02:28] mine260309 opened #60 "Upload image always gives 400 error"
Do image upload, bmcweb always gives below 400 error, even when the upload is actually sucessful.
[code]

[2019-03-06 02:30] mine260309 commented on #60
Likely it's caused by a short timeout (10s), if I understand the code correctly.
And it's introduced by c900850
^ @spinler

[2019-03-06 07:26] devenrao opened #61 "Modify entityPrivileges for certificate service classes after the same is published by DMT"
At present DMTF has not yet published entity Privileges or Certificate service at https://www.dmtf.org/standards/redfish  under section "redfish standard registries".  Existing entityPrivileges values in the certiicate_service.hpp should be modified after DMT publishes the data.

[2019-03-06 08:38] maximyep commented on #42
@edtanous **Do I need to raise a new one? This one is not enough?**

[2019-03-06 14:34] spinler commented on #60
When I fixed up bmcweb to get image upload working, i got the timeout value from here: https://github.com/openbmc/phosphor-rest-server/blob/master/module/obmc/wsgi/apps/rest_dbus.py#L850

What is the timeout that should be used?

[2019-03-06 15:35] mine260309 commented on #60
The loop in above code happens **after** the file is written, which is after the upload is done.
So basically the python code does upload, and waits 10 seconds for the version id to be extracted.

Now in bmcweb, the code looks like it has a 10s timeout and returns 400 error on timeout while the file is being uploaded, if I understand correctly.

[2019-03-06 16:27] spinler commented on #60
I'm sure we could rearrange where we start the timer.  Could you investigate to see where in the handler all of the time is being taken?

[2019-03-07 03:51] mine260309 commented on #60
With more testing, it turns out that:
1. If we upload a tar without compression, the code runs well. The upload actually takes about 20 seconds.
2. If we upload a tar.gz, we get the above error.

So it looks like I did not understand the code correctly, the timeout is run after the file is uploaded... just BMC takes more time to decompress the tar.gz and parse the manifest to create the version ob

[2019-03-07 07:45] mine260309 commented on #60
Did an experiment on Romulus, it turns out that it took 16~17 seconds for `Manager::processImage()` (in phosphor-bmc-code-mgmt) to extract the tarball and create version object.

The "bad" part is that the above functions actually runs two `tar -xf` command, the first one is to extract the manifest, and the second one to extract the whole tarball.

That part of code needs to refactor, then 10 seco

[2019-03-07 15:36] trajeswaran commented on #50
Resolved by : https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/18939/

[2019-03-08 13:35] sivassrr commented on #38
@rfrandse BMC manager version and cat /etc/os-version of latest master not matching

[code]

[2019-03-08 13:36] geissonator commented on #38
Hopefully can use a new function I created in this area to find the functional firmware to fix this one (https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/18521/8/redfish-core/include/utils/fw_utils.hpp)

[2019-03-12 09:47] sansomas opened #62 "Redfish user with "user" privilege is able to delete redfish user with "admin" privilege"
Expected behavior:
==================
It should not allow redfish user with "user" privilege to delete redfish user with "admin" privilege

Actual behavior:
================
It allows redfish user with "user" privilege to delete redfish user with "admin" privilege

Steps to reproduce:
====================
1) Create a redfish user with admin privilege
=============================================
[

[2019-03-12 10:59] rahulmah opened #63 "Error message not proper while creating 16th user via Redfish"
While creating 16th user via Redfish, we get below error. Here you can see that message says that - its unable to create user as it already exist (which is not true).
` "Message": "The requested resource of type #ManagerAccount.v1_0_3.ManagerAccount with the property UserName with the value rahul15 already exists.",`

It should say something like - "New user cannot be created as max user limit rea

[2019-03-12 11:13] rahulmah opened #64 "Redfish does not provide option to specify group roles for a user"
Redfish does not provide option to specify group roles for a user. As per user management design - https://github.com/openbmc/docs/blob/master/user_management.md#openbmc---user-management---user-creation-from-webserver-flow---with-all-groups, we should be able to set different group roles for a user.

I check with development and found that its not in their current priority. I have opened this iss

[2019-03-12 14:35] maximyep commented on #44
Hostname update could be done using:

![2019-03-12 16_31_38-myepanes-bmc  Running  - Oracle VM VirtualBox](https://user-images.githubusercontent.com/3142364/54208538-caf81900-44e4-11e9-97db-91dffe512694.png)

[2019-03-12 21:48] edtanous commented on #62
At this point, all users are being given Admin level credentials, so this is somewhat expected.  Once user identification is implemented, this should be closed.  Not sure whether to call this a bug or an enhancement, so I will leave it as neither for the moment.

[2019-03-12 21:49] edtanous commented on #61
Is there a link to where we've requested this in the DMTF repo or forum so we can track progress?

[2019-03-12 21:50] edtanous commented on #58
@gkeishin can you try what James suggested and report back?

[2019-03-12 21:51] edtanous commented on #57
Code merged.  Closing

[2019-03-12 21:51] #57 closed

[2019-03-13 03:05] gkeishin commented on #58
@edtanous sure will do..  Will keep posted

[2019-03-13 07:53] prkatti1 commented on #44
It is working on latest master build.
So closing this issue.

[2019-03-13 07:53] #44 closed

[2019-03-13 08:40] maximyep commented on #58
I'm not sure, but this **check is done against the http://redfish.dmtf.org/schemas/v1/**
Please take a look into diff (QEMU vs DMTF Simulator). Seems we are having issues:
![59c73-clip-92kb](https://user-images.githubusercontent.com/3142364/54264686-51ac0500-457c-11e9-9ea2-335f4f597299.png)

[2019-03-13 16:53] feistjj commented on #58
How else could you do an OEM schema?

I was using RedfishServiceValidator.py, I tried using our json but it seems to not be versioned in a way the tool likes. We probably need to update the way it is versioned if we are going to use our own.

[2019-03-14 09:43] sansomas commented on #62
@edtanous Thanks for the feedback. Giving Admin level privilege to all users would defeat the purpose of the user roles and its privileges. So we should probably help in getting this as a fix implementation.

[2019-03-14 11:24] ratagupt commented on #62
@edtanous I am working on this, would push you the wip commit for the same.

[2019-03-14 14:51] maximyep commented on #58
Let's do a summary:
* DMTF has JsonSchema-ResponseValidator;
* It would be good to do a test using this code.

Some links returns errors (see start-post):
* bad style: do not check this links;
* good style: to do some coverage in order to check all links.

I've saved all resources which is downloaded by python-code (attached)
[schema.tar.gz](https://github.com/openbmc/bmcweb/files/2966955/schema.t

[2019-03-14 15:25] rthomaiy commented on #64
At this point of time, REDFISH schema doesn't provide direct support to mark the user accounts for different app authentication levels (i.e. IPMI / REDFISH / Web), either we need to overload existing roles / use OEM schema.  Similarly IPMI also doens't have any command to do the same. OEM Commands has to be defined for this.
Note: Back-end support in phosphor-user-manager exists, and enhancement r

[2019-03-14 15:27] rthomaiy commented on #63
@rthomaiy (Just adding my name, to track). Will try to address the same in few weeks

[2019-03-14 19:50] feistjj commented on #58
Have you tried adding https://github.com/openbmc/bmcweb/tree/master/static/redfish/v1/JsonSchemas/OemManager to the downloaded schema?

[2019-03-18 10:36] maximyep opened #65 "DMTF: Redfish Conformance-Check is not passed well: 14 errors were thrown"
- [x] <--- Assertion 6.1.9: FAIL
- [ ] <--- Assertion 6.1.14: FAIL
- [ ] <--- Assertion 6.4.2.2: FAIL
- [ ] <--- Assertion 6.4.2.3: FAIL
- [ ] <--- Assertion 6.4.13: FAIL
- [x] <--- Assertion 6.4.18: FAIL
- [ ] <--- Assertion 6.4.26: FAIL
- [ ] <--- Assertion 6.5.1: FAIL
- [ ] <--- Assertion 6.5.3: FAIL
- [ ] <--- Assertion 6.5.6.9: FAIL
- [ ] <--- Assertion 6.5.6.10: FAIL
- [ ] <--- Assertion 7.5

[2019-03-18 17:09] #27 closed

[2019-03-18 18:45] edtanous commented on #65
I don't know of anyone that has run this tools on bmcweb before.  With that said, I look forward to seeing patches that bring us into better compliance.
I took a quick skim through this.  A majority of the issues can be boiled down to 3 categories:
1. Ignoring verbs/ bad response codes on certain verbs (GET/POST/PATCH/TRACE).  There are a number of cases where we should be returning errors but are

[2019-03-19 20:50] edtanous opened #66 "More restrictive Content-Security-Policy"
It's been stated previously that our current Content-Security-Policy header "default-src='self'" was insufficient, and defended us against fewer attacks than that header could be, given the fact that 'self' is applied to all content security types.

This can be improved by setting default-src='none' then explicitly enabling the features we use, like base64 images, css, and scripts.  This should be

[2019-03-19 23:46] edtanous commented on #46
Closing due to lack of response from submitter.  Feel free to reopen if required.

[2019-03-19 23:46] #46 closed

[2019-03-19 23:48] edtanous commented on #63
Note, "New user cannot be created as max user limit reached." is not the correct error message.

CreateLimitReachedForResource message states:
"The create operation failed because the resource has reached the limit of possible resources."  This is the correct error to include.

[2019-03-20 09:13] sansomas opened #67 "Improper error message given upon changing redfish user password /username to invalid password/ username"
Expected behavior:
===============
Error message shown upon trying to change redfish user password to wrong password should be as or similar to below message

"Invalid password provided"

Error message shown upon trying to change redfish username to wrong username should be as or similar to below message

"Invalid user name"

Actual behavior:
=============
Error message shown upon trying to change

[2019-03-20 10:43] sansomas opened #68 "Improper error message upon trying to login with redfish user which is not enabled"
Expected behavior:
===============
Error message shown for login attempt with Redfish user which is not enabled should be as or similar to below message

"Redfish user not enabled"

Actual behavior:
===============
Error message shown for login attempt with Redfish user which is not enabled is as below

"Message": "While accessing the resource at /redfish/v1/SessionService/Sessions, the service re

[2019-03-20 13:38] rthomaiy commented on #67
@rthomaiy adding myself for easy tracking. Will address the same in few weeks.

[2019-03-20 13:50] raviteja-b commented on #53
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/19252/2

[2019-03-21 09:29] prkatti1 commented on #54
Seems redfish spec is confusing here, would open if I face any issues.

[2019-03-21 09:29] #54 closed

[2019-03-21 16:17] sunharis commented on #51
This will be fixed with the changes at https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/19497

[2019-03-22 07:06] maximyep opened #69 "DMTF: Redfish Conformance-Check ---> Assertion: 6.4.24"
Description:
6.4.24 If a property in the request can never be updated, such as when a property is read only, a status code of 200 shall be returned along with a representation of the resource containing an annotation specifying the non-updatable property. In this success case, other properties may be updated in the resource.

Steps to reproduce:
[code]

**List of the BAD links:**

- /redfish/v1/Re

[2019-03-22 17:06] edtanous commented on #68
Marking this as an enhancement.  The error string being provided at this time is still correct, even if it may not be as specific as you'd prefer.  The credentials were in fact invalid, even if it was because the user was disabled, and not because one of the individual fields was incorrect.

One thing to keep in mind here, is we are limited to provide messages available in the Redfish message regi

[2019-03-25 14:15] smccarney opened #70 "Redfish: Provide additional Thermal properties"
The Redfish Thermal schema defines a large number of properties, most of which are optional.  Right now bmcweb returns a subset of those properties based on data available on DBus.

This issue will be used to define which additional Redfish Thermal properties bmcweb can provide in the near term based on data already available in DBus.

Only properties considered to be important for customer use wi

[2019-03-25 19:57] bjwyman commented on #36
Random find from e-mail miss-click.
Should this be closed if https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/16596 is merged?

[2019-03-25 21:35] edtanous commented on #70
We already have a documented way to track supported Redfish properties in a controlled, code reviewed manner in the Developing.md document in the root of bmcweb.  Please avoid inventing your own, unless it's your intention that the spreadsheet becomes the new standard, in which case, propose it as such in another review.

I'm having a lot of trouble reading this "enhancement" because it doesn't re

[2019-03-25 21:54] smccarney commented on #70
Hi Ed.

Sorry for the confusion.  I am responsible for making sure that a key, minimum required set of Redfish Thermal properties work on IBM systems.  I am hoping to do that in a general way so it is useful for everyone.

I found the number of Redfish Thermal properties to be a bit overwhelming, and I don't believe we have the necessary firmware (at least on our systems) to fill them all out.  So

[2019-03-25 22:05] edtanous commented on #70
I think it would really help if you could lay out, in certain terms, what you're looking for in terms of Redfish changes.  I think it's great you're doing an analysis, but when you submit bugs, they need to be actionable, and of an appropriate size.  Based on the above description, and the abstract title, I don't see anything actionable.  If you're trying to plan work, I know that IBM tends to use

[2019-03-26 02:01] bradbishop commented on #70
This wasn't meant to be interpreted as a bug.

Indeed, I just wanted us to be transparent in the work that we plan on doing.  openbmc-ibm is our downstream development PM area so I don't think that is the appropriate place to track the work Shawn is doing, as Shawn intends to upstream his work, whatever repository that winds up being in.

@krtaylor did we document somewhere, where exactly we shoul

[2019-03-26 16:08] edtanous commented on #70
I do appreciate the transparency, and I think the work planning is probably better done on the openbmc/openbmc github.  Once it's down to the level of detail needed, I'm happy to host the open bmcweb sections here, I just want to avoid the open-ended never ending bug types, and keep it explicit about what we're hoping to accomplish.

[2019-03-26 16:31] edtanous commented on #69
Please test this commit and see if it resolves your issue:
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/19652

[2019-03-26 16:47] smccarney commented on #70
Moved to https://github.com/ibm-openbmc/dev/issues/356.

[2019-03-26 16:47] #70 closed

[2019-03-26 16:48] smccarney commented on #70
I had an ibm-openbmc issue already open that I could use for this work.  Brad thought moving it there was fine.  Sorry for the confusion/inconvenience.

[2019-03-26 17:00] edtanous commented on #65
Can you please retest with this patch, and report back?

https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/19652

[2019-03-27 05:27] prkatti1 opened #71 "OpenBMC: BMC throws wrong error message on invalid MAC address configuration"
BMC throws wrong error message while MAC address configuration.
When we try to configure invalid MAC address, supposed to get 4xx message. But BMC throws 500 internal error.

HTTP/1.1 500 Internal Server Error
Strict-Transport-Security: max-age=31536000; includeSubdomains; preload
X-Frame-Options: DENY
Pragma: no-cache
Cache-Control: no-Store,no-Cache
Content-Security-Policy: default-src 'self'; i

[2019-03-27 16:10] maximyep commented on #69
Checked with own black-build (with fix):
1. If we are talking about:
[code]
The behavior is changed: "Method Not Allowed" is correctly returned. Fix accepted (only this two was originally mentioned)

2. If we are talking about full - run: errors are present. Please take a look into logs:
[full.execution.log.black.build.txt](https://github.com/openbmc/bmcweb/files/3014200/full.execution.log.black.b

[2019-03-27 16:29] edtanous commented on #69
The behavior you mentioned seems to be resolved, so I think this can be closed once that commit is merged.  If we're tracking the overall conformance suite, we should track it for this bug.

https://github.com/openbmc/bmcweb/issues/65

[2019-03-28 07:03] maximyep commented on #69
Agree

[2019-03-28 08:31] ratagupt commented on #13
@edtanous : As we discussed on last community meeting, I had pushed the code which works only foir LDAP(Redfish property.)

I was planning to bring the configuration support for AD through Redfish.
**We have only one configuration on the backend.**

Having two properties(LDAP/AD) in redfish  requires that two configuration should be there on the backend.
                                         or

[2019-03-28 09:01] maximyep commented on #65
4 Assertions are PASSED now. Current log:

[rf-assertions-log.bb.txt](https://github.com/openbmc/bmcweb/files/3017030/rf-assertions-log.bb.txt)

[2019-03-28 17:17] edtanous commented on #13
@ratagupt As we've discussed, I would like to see LDAP merged before ActiveDirectory, so we're not trying to do too much work in parallel, and we can solve one problem at a time.  The above issue that you've mentioned is an issue that we should solve when we do the active directory work.  Functionally, this means that for Redfish patchsets, I will be reviewing the LDAP series first, then once that

[2019-03-29 05:59] ratagupt commented on #13
@edtanous :

I have uploaded the commits which is only for LDAP wrt to bmweb, It is not for AD. I thought, while you reviewing the LDAP series, I can start working on the AD.
As we have the AD support on the backend also but one type of confifuration at a time(either LDAP or AD).
If the commits are independent to each other(LDAP/AD) then we should not have problem, I was trying to get the expectat

[2019-04-03 13:11] gkeishin opened #72 "org.freedesktop.DBus.Error.FileNotFound: path or object not found""
We have been seeing this lately on CI runs.

[code]

[code]

[code]
so looks like the bmcweb stopped looking (or handling) org.open_power dbus interfaces ?

[2019-04-03 13:22] geissonator commented on #72
Note we're seeing this with all the recent bmcweb meta-phosphor bumps.

First bump I can find where this started was in https://gerrit.openbmc-project.xyz/c/openbmc/meta-phosphor/+/19978

[code]

[2019-04-03 13:25] edtanous commented on #72
That’s very likely an issue with the first patch in that series.  Will take a look in the next couple hours and fix or revert if necessary.

[2019-04-03 13:40] edtanous commented on #72
And I already found it on my phone while waiting for my coffee.
https://github.com/openbmc/bmcweb/blob/4ed69245822e548763e7d4ba7bdb9f5cdba75c22/include/openbmc_dbus_rest.hpp#L2033
That line and the one a few lines down needs to be /org not /xyz.  Sorry about that, I don’t have any org interfaces left on my system to test.  Will get a patchset pushed up for review once I’m on a computer

[2019-04-03 14:10] edtanous commented on #72
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/20080

[2019-04-04 13:57] maximyep opened #73 "bmcweb does not fully implement OCPServerHardwareManagement and OCPBaselineHardwareManagement profiles"
- [ ] Base: 12 problems found
- [ ] Server: 17 problems found
Base execution logs:

[InteropLog_04_04_2019_163621.txt](https://github.com/openbmc/bmcweb/files/3043752/InteropLog_04_04_2019_163621.txt)

[qemu.base-log1.txt](https://github.com/openbmc/bmcweb/files/3043755/qemu.base-log1.txt)

Server execution logs:
[InteropLog_04_04_2019_163822.txt](https://github.com/openbmc/bmcweb/files/3043753/In

[2019-04-04 15:29] gtmills commented on #73
@maximyep What qemu model was this?

[2019-04-04 21:04] edtanous commented on #73
Agreed that we should support these.  There has been some work done and pushed to gerrit to implement these in some fashion.  I would recommend using some of @hcleepinga patches as a base to start this, as I believe she is attempting the same test, and working through the missing features.

[2019-04-04 23:06] #72 closed

[2019-04-05 06:11] maximyep commented on #73
[code]

[2019-04-05 10:34] prkatti1 commented on #36
Working on latest master, clsoing this issue

[2019-04-05 10:34] #36 closed

[2019-04-05 10:35] prkatti1 commented on #43
working on latest master, closing this issue

[2019-04-05 10:35] #43 closed

[2019-04-10 09:10] kuiyingw opened #74 "fail to set { "SerialConsole": { "ServiceEnabled": false } }"
could get
"SerialConsole": {
        "ConnectTypesSupported": [
            "IPMI",
            "SSH"
        ],
        "ServiceEnabled": true
    },
via GET https://${bmc}:${port}/redfish/v1/Managers/bmc
but fail to set by
PATCH https://${bmc}:${port}/redfish/v1/Managers/bmc
{
    "SerialConsole": {
        "ServiceEnabled": false
    }
}

[2019-04-18 17:28] gkeishin opened #75 "Firmware update doesn't give progress status"
**Upload image**
[code]
From the journald, I can see the image is uploaded and untared

[code]
So I dont see the image I'm trying to update, so I checked the /tmp/images/8d2586e3  and found the magic id `8d2586e3`

[code]
So now I can see the image properties but I dont know for sure if the update is completed or not. I know for sure the update hasnt completed since I see the install is going on w

[2019-04-18 17:32] gkeishin opened #76 "Firmware update on same image re-try fails to detect active image or error out"
The system is with 2.7.0-dev-430-g7443ee8 let say, I try to update the same image

the uploaded request went through and I can see the
[code]
in the journald.. but it doesnt throw error or fails or give any hint if it was accepted or rejected.

[2019-04-18 17:52] gkeishin commented on #75
@geissonator if there are way how to detect without looking at the journald that would help here..

[2019-04-22 01:11] kuiyingw opened #77 "500 internal server error is returned when "GET" "https://BMC_IP/redfish/v1/Managers/bmc""
{"@odata.context":"/redfish/v1/$metadata#OemManager.StepwiseControllers","@odata.id":"/redfish/v1/Managers/bmc#/Oem/OpenBmc/Fan/StepwiseControllers","@odata.type":"#OemManager.StepwiseControllers"}}}},"PowerState":"On","SerialConsole":{"ConnectTypesSupported":["IPMI","SSH"],"ServiceEnabled":true},"Status":{"Health":"OK","State":"Enabled"},"UUID":"227db138-5325-4c53-a5ed-87e90128d62e","error":{"@Me

[2019-04-24 06:56] prkatti1 opened #78 "Unable to configure MAC address"
curl -k -H "X-Auth-Token: $bmc_token" -X PATCH -D patch.txt -d '{"MACAddress": "x6:xx:xx:xx:xx:xx"}' https://${bmc}/redfish/v1/Managers/bmc/EthernetInterfaces/eth0
[code]

[2019-04-25 05:54] prkatti1 opened #79 "Unable configure IP on VLAN interface via redfish"
Unable to add IP address to VLAN.
Created vlan 30:
```}bash-4.1$ curl -k -H "X-Auth-Token: $bmc_token" -D get.txt -X GET https://${bmc}/redfish/v1/Managers/bmc/EthernetInterfaces/eth0/VLANs/```

[code]

Now configure IP:
``` curl -k -H "X-Auth-Token: $bmc_token" X PATCH -D patch.txt -d '{"IPv4Addresses": [{},{"Address": "x.x.x.x","AddressOrigin": "Static","SubnetMask": "xx.xx.0.0","Gateway":"x.x.x

[2019-04-26 14:27] gkeishin opened #80 "bmcweb service crashes when using KVM over GUI"
[code]

[code]

All I did was following:
- Login to KVM GUI console and login to the guest host OS
- switch to different GUI page and come back to KVM console view

and and I see the bmcweb service crashing out

[2019-04-26 14:28] gkeishin commented on #80
@eddiejames @gtmills ^^^

[2019-05-02 10:54] prkatti1 opened #81 "BMC does not switch to next address when DNS sends multiple IP address to A record"
BMC does not switch to next address when DNS sends multiple IP address to DNS A record.
Steps:
1. Configure DNS server on BMC
2. Configure DNS server to send 2 IP addresses (IP1 and IP2) to DNS A record. (Exa: test1.bmc.com)
4. Make 1st IP address IP1 down.
3. Try to access or ping test1.bmc.com

BMC only try IP1 and it does not time out and try to reach 2nd IP.

[2019-05-07 19:09] gtmills commented on #80
@edtanous You seen this before? Any thoughts?

[2019-05-07 22:15] edtanous commented on #80
Yep, we've seen it.  It's a flow control issue with how KVM was architected.  My understanding of the problem here is that libvncserver has no flow control, and pushes frames as fast as the hardware can produce them.  This is fine if bmcweb and the TLS connection can keep up with the rate the frames are coming.  The problem shows up if the TLS and network connections go slower than the available f

[2019-05-07 22:17] edtanous commented on #77
Kuiying,

I'm not able to reproduce this on my system.  Do you have any more details, and are you still seeing the issue?

[2019-05-08 01:04] kuiyingw commented on #77
Use postman to get bmc info “https://10.239.56.49/redfish/v1/Managers/bmc”., the response status is “500 Internal Server Error”
Error message is captured as following attachment.
[cid:image001.jpg@01D5057C.FBAC6300]

Thanks,
Kwin.

From: Ed Tanous [mailto:notifications@github.com]
Sent: Wednesday, May 08, 2019 6:18 AM
To: openbmc/bmcweb <bmcweb@noreply.github.com>
Cc: Wang, Kuiying <kuiying.wang@i

[2019-05-08 10:36] prkatti1 commented on #50
Closing this as it is working fine with another property StaticNameServers.

[2019-05-08 10:36] #50 closed

[2019-05-08 21:27] edtanous commented on #77
Still not able to reproduce, and your screenshot doesn't add a lot of value.  What is different about your system?  Have you tried with non-postman?

[2019-05-10 12:41] ojayanth opened #82 "Certificate Signature validation fails for RSA type Keys."
Signature validation fails for RSA type self signed certificate Keys in the bmcweb code.

Created self signed certificate using RSA algorithm and copy the file to certificate path . bmcweb.service restarts reports failure and creating new self signed certificate.

systemctl restart bmcweb.service

May 10 12:31:03 xxxx systemd[1]: Stopped Start bmcweb server.
May 10 12:31:03 xxxx  systemd[1]: Start

[2019-05-10 12:44] ojayanth commented on #82
Looking at the bmcweb/include/ssl_key_handler.hpp  inline bool verifyOpensslKeyCert(const std::string &filepath)  function   “ privateKeyValid” value is  not initialized in the “RSA” path. So always, this functions return false for RSA type. This could be fixed .

[2019-05-13 14:01] geissonator commented on #80
Please keep us in the loop on any updates @yoojae

[2019-05-13 21:18] yoojae commented on #80
Patches submitted:
https://gerrit.openbmc-project.xyz/c/openbmc/meta-phosphor/+/21482
https://gerrit.openbmc-project.xyz/c/openbmc/obmc-ikvm/+/21483

Please review and test it. Thanks!

[2019-05-13 23:09] edtanous commented on #82
This is not a bug.

This is the intended behavior, to allow replacing old autogenerated RSA keys with more modern RSA keys.  Considering that before your series, bmcweb didn't allow uploading a certificate at all, marking RSA certificates as errors was reasonable.

Now that we allow upload, the RSA keys function properly, and anyone using openbmc is unlikely to have the old key style, fixing this

[2019-05-13 23:09] #82 closed

[2019-05-13 23:11] edtanous commented on #75
Redfish would probably recommend TaskService for this kind of long running operation.

[2019-05-14 06:33] mine260309 opened #83 "Incorrect error string returned on Dbus exception"
Making a REST API call, and if the Dbus method throws, the exception string is expected to be thrown, which is the behavior of `phosphor-rest-server`.

But with bmcweb, it always returns an error without any information about the exception.

For example, if BMC's time owner is host, and let's try to set BMC time:
[code]

If the backend server is phoshpor-rest-server, what we got is:
[code]

[2019-05-14 08:53] devenrao opened #84 "Cater for supporting multiple certificates"
At present supporting uploading/replace of only 1 certificate. In the future need to support uploading multiple certificate for HTTPS and LDAP.

[2019-05-14 09:04] ojayanth commented on #82
@edtanous It will be good to support RSA.
Review link related to this change .https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/21450

[2019-05-14 20:26] geissonator commented on #75
Yeah there's a big discussion ongoing within the DMTF on code update and task services. I think it's best to let that settle and come back to Redfish UpdateService in OpenBMC release 2.8. We have the basics in place now for 2.7 so if people need it, it's there. Lets wait for the DMTF to sort things out a bit more before we do much more work.

With that said, similar things can be done that were re

[2019-05-16 07:28] mine260309 commented on #83
The issue is a bit more complicated than I expected...

### Background

1. The property `PUT` method is implemented in `handlePut()` in `openbmc_dbus_rest.hpp`, by calling `crow::connections::systemBus->async_send()`;
2. `crow::connections::systemBus->async_send()` is implemented in `sdbusplus/asio/detail/async_send_handler.hpp`, and the `callback()` does not check the sd_bus_error at all, see the

[2019-05-16 22:58] abrahamrhoffman opened #85 "build_x86.sh build fails with current master repo"
[code]

Same for pure cmake
[code]

[2019-05-20 15:11] derick-montague opened #86 "Redfish: Calls returning 401 running locally with BMCWEB_INSECURE_DISABLE_XSS_PREVENTION flag enabled"

[2019-05-21 02:20] derick-montague commented on #86
This not reproducible. The issue I was experiencing was not a redfish error.

[2019-05-21 02:20] #86 closed

[2019-05-21 06:54] rahulmah opened #87 "InternalError while uploading invalid certificate"
Hitting InternalError while uploading invalid certificate. This should be better handled. I think we should be getting better message id like "Message id : Base.1.0.SettingsFailed". Also the message text should be more meaningful in such cases.

[code]

System info:
System - Witherspoon

[2019-05-21 07:11] rahulmah opened #88 "Hitting InternalError while checking a path which does not exits"
Hitting internal error while checking a path which does not exist. In below example, you can see that we hit InternalError while checking ldap certificate, when it is not present. This error handling should be better handled.

With REST, we used to get 404 error(Not Found) for any failure when path does not exist.
So via Redfish also, we should be getting better error Message and MessageId.

Redfi

[2019-05-22 10:57] rahulmah commented on #62
@ratagupt : We also see the same problem with IPMI users. When we can expect user privileges to start working?

[2019-05-22 14:29] sunharis commented on #79
When you configured the IP, what was the data in the resource "/redfish/v1/Managers/bmc/EthernetInterfaces/eth0/VLANs/eth0_30" ?
Please get the output of the GET request on this resource for reference.

[2019-05-23 09:24] SrideviRamesh opened #89 "Failed to update "BootSourceOverrideTarget": "Cd""
[code]

[2019-05-23 09:25] SrideviRamesh commented on #89
@santoshpuranik please check... failed to update is observed only with parameter 'cd' .

[2019-05-23 11:13] santoshpuranik commented on #89
This is a regression introduced by https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/20776. There was some confusion around what the DBUS property for "ExternalMedia" should be called. What ended up happening is the name was retained as "ExternalMedia" in phosphor-dbus-interfaces, but was changed to "DVD" in bmcweb.

I'll push up a fix to resolve this.

[2019-05-23 17:05] gkeishin commented on #89
Thanks @santoshpuranik  routing it to u..

[2019-05-23 19:04] geissonator commented on #75
My proposal here is the following:

Change doGet on /redfish/v1/UpdateService/FirmwareInventory/ to return all software inventory items (not just what we do now, xyz.openbmc_project.Software.Activation.Activations.Active)

We then change the code in the get of "/redfish/v1/UpdateService/FirmwareInventory/<str>/" to put the correct "Status" in the returned object. It's currently hard coded to this:

[2019-05-28 17:02] geissonator commented on #75
Design doc update is in https://gerrit.openbmc-project.xyz/c/openbmc/docs/+/21986

[2019-05-29 07:34] santoshpuranik commented on #89
Fixed here: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/21855

[2019-05-29 12:31] gkeishin commented on #80
@yoojae the changes looks good when I tested them out. Thanks

[2019-05-29 21:29] #83 closed

[2019-05-30 14:01] mine260309 commented on #83
The commit https://gerrit.openbmc-project.xyz/c/openbmc/sdbusplus/+/21611 is not merged yet.
So this issue is not closed yet.

[2019-05-31 03:17] shannonliang312 opened #90 "The rule of user password is not clear."
Hello:
     Through ‘/redfish/v1/AccountService’ , we can get the 'MaxPasswordLength' and 'MinPasswordLength' of user password, but no other restrictions.
     When create/edit user from WEBUI, some password which matches the rule of length, like '1234abcd', '11111abc', '12345678a', still get the error message of invalid password from backend.
      In the /etc/pam.d/common-password, I find some p

[2019-05-31 05:10] edtanous commented on #90
Pay close attention to the “pam_cracklib” module in the settings you linked.  This is likely the rules you are looking for.

[2019-05-31 17:03] joseph-reynolds commented on #62
Are these the changes for this?
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/20133
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/20134

[2019-06-11 10:57] rahulmah opened #91 "Installed CA signed server certificate does not show in Openssl showcert output"
After installing CA signed certificate for server certificate, Openssl showcert command output does not show it. While the redfish server certificate view is showing the installed certificate correctly.

This issue is not seen with self signed certificate and is specific to CA signed certificate.

CA signed certificate install for server certificate

[code]
[code]

Self signed certificate install

[2019-06-11 14:36] rahulmah commented on #91
@eddiejames : As suggested by @ojayanth I am opening this issue in bmcweb.

[2019-06-11 14:48] edtanous commented on #91
@rahulmah You appear to be opening bug reports on features that are not yet in master, but in code review, based on the fact that you are using CertificateService.

Please add your findings to the review in progress so they can be resolved before merge.
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/18545/37

[2019-06-11 16:11] edtanous commented on #90
Can this bug be closed?

[2019-06-12 00:23] shannonliang312 commented on #90
@edtanous yes，thanks for your advise！

[2019-06-12 00:30] #90 closed

[2019-06-12 17:31] gkeishin commented on #38
We are still seeing this one . @ssombar reported on latest Master too.

[2019-06-13 06:59] devenrao commented on #91
Ed,
Noticed there was  "X509_V_ERR_UNABLE_TO_GET_ISSUER_CERT_LOCALLY" error which phosphor-certificate-manager is ignoring but bmcweb certificate validation fails. bmcweb ignores the certificate and regenerates self-signed certificate.

Probably bmcweb need to ignore trust chain related errors similar to phosphor-certificate-manager so that both are consistent or the other way round.

https://gith

[2019-06-13 13:56] gkeishin commented on #80
We did another downstream build with the latest Master and seems we hit BMC web crashing out but only when we do few the BMC web GUI refresh and switching GUI options back and forth a bit.
[code]
any recent changes we should be looking at ? @yoojae

[2019-06-13 16:24] yoojae commented on #80
On 6/13/2019 6:56 AM, George Keishing wrote:

Hi George,

Did you apply these patches?
https://gerrit.openbmc-project.xyz/c/openbmc/meta-phosphor/+/21482
https://gerrit.openbmc-project.xyz/c/openbmc/obmc-ikvm/+/21483

These patches are not merged to main tree so you should cherry pick the
patches manually.

Thanks,
Jae

[2019-06-17 10:28] gkeishin commented on #80
Yup we picked those commits when I re-ran the test again.

[2019-06-17 15:23] ojayanth commented on #91
based on the  06/17 Community call, BMCweb code should add support similar to
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-certificate-manager/+/13875 , to ignore the Trust chain errors.

[2019-06-18 04:53] rahulmah commented on #91
@edtanous : As discussed over the community call, we need to get fix for this problem. I don't see an option to reopen this issue from my side. Can you please reopen the issue?

[2019-06-18 04:54] edtanous commented on #91
It would’ve really helped if you had added your findings to the review in progress before it was merged.
@devenrao do you want to look into a fix for this?

[2019-06-19 05:22] devenrao commented on #91
@edtanous I was not having any issue uploading a normal certificate generated using openssl command line tool. Issue seems to happen only for CA signed certificates.

[2019-06-19 05:24] edtanous commented on #91
Sounds like you’re well on your way to figuring out the solution.

[2019-06-19 05:39] devenrao commented on #91
Working on the fix

[2019-06-20 06:17] rahulmah commented on #91
@devenrao : So do you want me to close this issue in bmcweb?

[2019-06-20 21:19] #89 closed

[2019-06-20 21:19] edtanous commented on #88
@devenrao Can you take a look?

[2019-06-28 18:57] geissonator commented on #38
Fix up here - https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/23199

[2019-06-28 18:59] gkeishin commented on #38
Awesome. .Thanks @andrew

[2019-07-02 08:47] rahulmah commented on #91
This issue is fixed. So closing.

[2019-07-02 08:47] #91 closed

[2019-07-02 08:54] rahulmah opened #92 "Bmcweb stop working after CA signed certificate upload"
Bmcweb fails after CA signed certificate upload which in created using CSR.

**Journal log**
[code]

***********************
Steps to reproduce:
***********************

1. Generate Root CA private key(rootCA.key):
`openssl genrsa -des3 -out rootCA.key 204`

2. Generate Root CA certificate(rootCA.pem) using:
`openssl req -x509 -new -nodes -key rootCA.key -sha256 -days 1024 -out rootCA.pem`

3. Now

[2019-07-02 08:59] rahulmah commented on #92
This Issue is only seen only when KeyBitLength in CSR request is set to 512. And it is not seen when KeyBitLength is set to 1024, 2048, 4096. After discussing with @ojayanth, opening this issue in bmcweb to further debug.

[2019-07-02 11:56] prkatti1 opened #93 "Unable to modify specific entry from staticnameservers on BMC"
Unable to keep old value when we try to modify any of the staticnameserver entry from BMC.
It is modifying all entries.

curl -k -H "X-Auth-Token: $bmc_token" -X PATCH -D patch.txt -d '{"StaticNameServers": ["{}","3.3.3.7"]}' https://${bmc}/redfish/v1/Managers/bmc/EthernetInterfaces/eth0

curl -k -H "X-Auth-Token: $bmc_token" -X GET https://$bmc/redfish/v1/Managers/bmc/EthernetInterfaces/eth0

[2019-07-02 11:58] prkatti1 opened #94 "Able to configure any value to the staticnameserver"
Able to configure any value to the staticnameserver.
It supposed to accept IP address, but accepting string, special chars and numeric values.

```curl -k -H "X-Auth-Token: $bmc_token" -X PATCH -D patch.txt -d '{"StaticNameServers": ["@@@@","3.3.3.7"]}' https://${bmc}/redfish/v1/Managers/bmc/EthernetInterfaces/eth0```

bash-4.1$ curl -k -H "X-Auth-Token: $bmc_token" -X GET https://$bmc/redfish/v1/

[2019-07-02 11:59] prkatti1 commented on #94
@edtanous @ratagupt Pls look into it.

[2019-07-02 12:00] prkatti1 commented on #93
@edtanous @ratagupt Pls take a look.

[2019-07-03 07:04] ratagupt commented on #93
@prkatti1 : As discussed before, we would not be having the above method to delete the values from the list. If the list is of simple object(like string), we would ask the user to send the complete list.

@edtanous : Can you also suggest?

[2019-07-03 09:56] prkatti1 commented on #93
If I want to delete 1 entry from list of 10, why I need to pass remaining 9 entries?
And to modify 1 entry why I need to remember and pass 10 entries?
Is there any limit for max number of dns servers that can be configured?
@edtanous

[2019-07-04 12:36] devenrao commented on #56
This issues has been fixed and can be closed fixed it as part of
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/18545

[2019-07-05 03:07] ratagupt opened #95 "XAuthToken: Reset of auth-token."
@edtanous
This issue is just to get your feedback.I was not sure that the following use-case is a security issue or not.

Currently in bmcweb we create the session and that creates the X-Auth Token and this token works fine even if the bmcweb crashes and restart again.

If bmcweb crashes should we keep the auth-tokens or reset it?

I also tried to reboot the bmc even the token which I took before

[2019-07-05 04:19] edtanous commented on #95
I don’t believe it is, but I’d like to hear your thinking on it.  The intent was to allow user sessions survive a reboot so that firmware update or cold reset wouldn’t require a relogin, as it does on a lot of BMCs.
Session timeouts, and credentials are still enforced after a reboot, so the thinking was that it has roughly the same security model as if the BMC had never rebooted, with the exceptio

[2019-07-08 12:16] ojayanth opened #96 "BMC dump download failed via REST"
Steps to recreate :

root@xxxx:/var/lib/phosphor-debug-collector/dumps# ls -larth *
10:
-rw-r--r--    1 root     root      171.4K Jul  3 10:45 obmcdump_10_1562150658.tar.xz
drwxr-xr-x    2 root     root         248 Jul  3 10:45 .
drwxr-xr-x    4 root     root         288 Jul  3 13:49 ..

11:
drwxr-xr-x    4 root     root         288 Jul  3 13:49 ..
-rw-r--r--    1 root     root      180.7K Jul  3

[2019-07-08 12:18] ojayanth commented on #96
Looks like existing code  deoesn't support to download file with original file name.

[2019-07-08 12:20] ojayanth commented on #96
@edtanous   @spinler
 fix is available  https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/23338

[2019-07-08 18:32] #38 closed

[2019-07-09 15:40] gtmills opened #97 "InternalError on LogService.ClearLog"
On a Witherspoon system with latest master, e90c50528a87fd15a7ae3f6b49e0ab83b1873d0c

[code]

[code]

[2019-07-09 15:48] gtmills commented on #16
@gkeishin Can this be closed?
[code]
We have a single, hardcoded "system" resource for now

[2019-07-09 16:02] #16 closed

[2019-07-09 16:05] gtmills commented on #21
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/23294 Should fix the last error

[2019-07-09 16:24] gtmills commented on #88
@devenrao @rahulmah Still a problem?

[2019-07-09 16:29] #21 closed

[2019-07-09 16:37] gkeishin commented on #23
Recent Master looks clean. Closing..

[2019-07-09 16:37] #23 closed

[2019-07-09 16:38] #75 closed

[2019-07-09 16:39] #76 closed

[2019-07-11 01:35] ratagupt commented on #95
Ed, Thanks for the reply, Just wanted to bring this.

# ls -la /home/root/bmcweb_persistent_data.json
-rw-r--r--    1 root     root           509 Jul  9 13:13 /home/root/bmcweb_persistent_data.json
This json is having all the session info, now suppose some user gets logged in via non root privilege and read this file, get the session which is having admin privilege, then he can send the HTTP query

[2019-07-11 01:53] edtanous commented on #95
That's an excellent point, we could certainly improve the permissions on this file to disallow group read access.  I'd be happy to look at the code review.

[2019-07-12 01:39] ratagupt commented on #95
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/23480

[2019-07-12 04:48] gkeishin opened #98 "BMC web request GET /redfish/v1/Systems/system HTTP/1.1 500 Internal Server Error"
On latest build https://openpower.xyz/job/openbmc-build/2247/   - "2.8.0-dev-41-gb7e2d8bfd"
[code]

[2019-07-12 04:50] gkeishin commented on #98
@edtanous  Can u take a look at this one. Broke our the CI and power on/off via Redfish interface,

[2019-07-12 06:47] vic-lin-accton opened #99 "Redfish(Chassis):ChassisCollection has no members"
We are porting openbmc and have this issue. Wondering which step we missed.  Thanks

We also downloadand use qemu run the "obmc-phosphor-image-romulus-20190711181621.static.mtd"  to check and got the same result as below

curl -k -H "X-Auth-Token: $bmc_token" -X GET https://${bmc}:2443/redfish/v1/Chassis
{
  "@odata.context": "/redfish/v1/$metadata#ChassisCollection.ChassisCollection",
  "@odata.i

[2019-07-12 13:24] gkeishin commented on #98
@geissonator pushed a fix for it https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/23490

[2019-07-12 14:40] rahulmah commented on #92
@edtanous : Please look into this issue and let us know your thoughts on this failure.

[2019-07-12 14:54] rahulmah commented on #88
@gtmills : Yeah we are still hitting the problem. @edtanous : Please look at this problem.

[2019-07-12 15:51] #98 closed

[2019-07-14 02:03] gtmills commented on #88
@devenrao Can you have a look?

[2019-07-14 02:04] gtmills commented on #92
@devenrao @ojayanth Can you have a look?

[2019-07-15 04:47] devenrao commented on #92
We are having discussions on IRC whether to support RSA due to the time taken to generate CSR as it is taking time more than the https request timeout of 10 seconds. We may either remove RSA support or support only RSA with key-bit length of 2048.

[2019-07-15 14:11] rahulmah commented on #92
Sure @devenrao

[2019-07-16 08:32] devenrao commented on #88
fixed the defect and the patch is uploaded as https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/23562

[2019-07-16 09:56] devenrao commented on #92
At present supporting only 2048 key bit length with pre-generated private key, the changes are pushed through
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/19421

[2019-07-16 09:58] #92 closed

[2019-07-16 10:00] rahulmah commented on #92
Thanks for the update @devenrao . Closing the issue.

[2019-07-18 20:04] #88 closed

[2019-07-23 06:59] ratagupt commented on #78
@prkatti1  In latest master it is working fine.
We are using the following release
[code]
curl -k -H "X-Auth-Token: $bmc_token" -X PATCH -D patch.txt -d '{"MACAddress": "a6:e2:84:14:16:6c"}' https://${BMC_IP}/redfish/v1/Managers/bmc/EthernetInterfaces/eth0

-bash-4.2$ curl -k -H "X-Auth-Token: $bmc_token" -X GET https://${BMC_IP}/redfish/v1/Managers/bmc/EthernetInterfaces/eth0

[2019-07-23 09:03] prkatti1 commented on #78
Working on latest build, so closing this.

[2019-07-23 09:03] #78 closed

[2019-07-23 11:43] prkatti1 opened #100 "Redfish does not show default gw when in DHCP mode"
Redfish does not show default gw when in DHCP mode.
1. Configure DHCP server which sends nameservers along with IP address in the DHCP response
2. Configure BMC into DHCP mode
3. BMC gets IP address and nameservers and gets updated.
4. When we run redfish GET command, gateway is shown as 0.0.0.0

[code]

Where as /etc/resolv.conf is updated with route received via dhcp response:
[code]

[2019-07-25 11:42] #56 closed

[2019-07-26 14:43] ratagupt commented on #100
@sunharis Can you please take a look into this?

[2019-07-26 21:09] joseph-reynolds commented on #62
The commits above were merged on July 9-10.  Does that fix the problem?  Has this been re-tested?

[2019-07-31 17:29] anoo1 opened #101 "bmcweb truncates value if an out-of-range byte number is used"
The Priority property value is defined as a byte, and with the previous REST server, it'd fail as follows when an out-of-range value (greater than 255) was passed:
[code]

But with bmcweb, success is returned, and the priority value is set to 44 when 300 is used:
[code]

[2019-07-31 17:43] spinler commented on #101
that's just a cast:  300 = 0x12C, so 300 & 0xFF = 0x2C = 44

[2019-07-31 17:48] edtanous commented on #101
Could definitely be improved with std::numeric_limits range checks.  The Redfish ReadJson function does some similar things here:

https://github.com/openbmc/bmcweb/blob/3d958bbc6cdc66e983d3a8c3f056d55bfc128276/redfish-core/include/utils/json_utils.hpp#L82

I suspect that code could be mostly reused to add that to the dbus endpoints..

[2019-07-31 18:24] anoo1 commented on #101
Thanks, that helps. Will look into adding the range check to the dbus endpoint.

[2019-07-31 21:39] geissonator commented on #29
nlohman seems to cause some of the verbosity as well:

https://github.com/nlohmann/json/issues/658
https://stackoverflow.com/questions/52020305/what-exactly-does-gccs-wpsabi-option-do-what-are-the-implications-of-supressi

[2019-07-31 23:21] edtanous commented on #29
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/23410

Should resolve a lot of it.

[2019-08-01 14:52] sunharis commented on #100
Code is up for review at https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/23983/

[2019-08-07 06:25] prkatti1 commented on #39
closing this as it is workin gin latest build.

[2019-08-07 06:25] #39 closed

[2019-08-07 10:28] ratagupt commented on #81
Seems this defect should be opened against systemd-networkd not here.

[2019-08-07 10:29] prkatti1 commented on #81
yep, opening a defect in systemd networkd and closing this.

[2019-08-07 10:29] #81 closed

[2019-08-08 06:24] prkatti1 commented on #81
will be tracked via https://github.com/systemd/systemd/issues/13275

[2019-08-16 22:37] edtanous commented on #45
18270 was merged.  Resolving.

[2019-08-16 22:37] #45 closed

[2019-08-16 22:38] edtanous commented on #37
when using the SDK, YOCTO_DEPENDENCIES is the correct flag to use as you've found.  Closing.

[2019-08-16 22:38] #37 closed

[2019-08-16 22:39] edtanous commented on #101
This appears to be a more generic duplicate of https://github.com/openbmc/bmcweb/issues/42

[2019-08-16 22:40] edtanous commented on #99
without knowing more about your system, it isn't clear how you configured it.  If no chassis are detected, or the association information was not filled in, it doesn't suprise me that you'd have an empty chassis collection.

[2019-08-16 22:40] edtanous commented on #74
SerialConsole is not disablable at this point.  Marking as enhancement.

[2019-08-21 23:43] edtanous opened #102 "Build bmcweb in multiple compile units"
bmcweb is currently built as one giant compile unit.  This is due to a couple of reasons:
1. crow was a header only library when this project started, and therefore required a recompile for every place it was included, which was every file.  This lead to a lot of duplicated functions, and bloated compile times overall.
2. boost beast is template heavy, very slow to compile and was a majority of th

[2019-08-27 18:17] #101 closed

[2019-09-03 07:00] vic-lin-accton commented on #99
Yes, it seems we need to fill some info to describe our system. Thanks

[2019-09-03 07:00] #99 closed

[2019-09-12 19:08] joseph-reynolds opened #103 "Support Redfish PasswordChangeRequired"
This issue is to track efforts to implement the Redfish PasswordChangeRequired handling in BMCWeb.

The PasswordChangeRequired handling is new in the [Redfish Spec DSP0266](https://www.dmtf.org/sites/default/files/standards/documents/DSP0266_1.7.0.pdf) with version 1.7.0 dated 2019-05-16, in section 13.2.6.1 ("Password change required handling")

Background:
- BMCWeb maps [OpenBMC privilege roles]

[2019-09-18 05:34] gkeishin opened #104 "BMC web Account service doesnt pass DMTF service validator check"
[code]

[code]
https://gerrit.openbmc-project.xyz/#/c/openbmc/bmcweb/+/24712/

This one broke it perhaps

@edtanous @gtmills @geissonator

[2019-09-18 05:45] gkeishin commented on #104
Property Name | Value | Type | Exists | Result
-- | -- | -- | -- | --
@odata.context | /redfish/v1/$metadata#Role.Role | string | Yes | PASS
@odata.id | /redfish/v1/AccountService/Roles/Callback | string | Yes | PASS
@odata.type | #Role.v1_2_2.Role | string | Yes | PASS
RoleId | Callback | string | Yes | PASS
Actions | - | Role.v1_1_0.Actions | No | Optional
IsPredefined | TRUE | boolean | Yes | P

[2019-09-18 08:50] gkeishin commented on #104
@anilkumarappana  can u check on this one.

[2019-09-23 23:34] edtanous opened #105 "LDAP ServiceAddresses and BaseDistinguishedNames properties show as empty string by default."
GET /redfish/v1/AccountService
Returns the following structure (some keys omitted)
{
    "LDAP": {
        "LDAPService": {
            "SearchSettings": {
                "BaseDistinguishedNames": [
                    ""
                ],
            }
        },
        "ServiceAddresses": [
            ""
        ],
    },
}

ServiceAddresses, and BaseDistinguishedNames default to a single ar

[2019-09-24 12:07] ratagupt commented on #105
sure @edtanous

[2019-09-25 05:44] Journey-x opened #106 "How redirect HTTP web app to HTTPS"
When I login OpenBMC Web, I must input "https://10.0.15.43" instead of "10.0.15.43"

How to make OpenBMC Web automatically redirect  to HTTPS ?

[2019-09-26 22:06] joseph-reynolds commented on #103
Working on the updated design proposal

Bash helper functions to help unit test
[code]

Unit test script
[code]

==> Interesting test result: When an Admin user DELETEs a session which is subject to PasswordChangeRequired handling, the HTTP response message contains the resource it successfully deleted, namely the Session including the PasswordChangeRequired extended message.  In this case, it is

[2019-09-26 22:50] #80 closed

[2019-10-03 02:42] ratagupt commented on #13
Closing this as the support is there in the master.

[2019-10-03 02:42] #13 closed

[2019-10-03 02:52] #95 closed

[2019-10-03 02:54] ratagupt commented on #48
Now with lot of refactoring around this, it Seems it is fixed.

[2019-10-03 02:54] #48 closed

[2019-10-03 02:55] ratagupt commented on #47
It has been implemented and merged.

[2019-10-03 02:55] #47 closed

[2019-10-03 02:58] ratagupt commented on #77
@kuiyingw Even I am not able to reproduce it. It is working fine in our system

[2019-10-08 13:55] zlukwins opened #107 "Able to make single https connection based on already replaced ca certificate."
Issue is about single https connection (e.g. RedFish call) based on user certificate correlated with already replaced CA certificate works but it shouldn't.
Flows looks like:
 - generate two pairs CA and user certificates
 - install first CA certificate using RedFish API
 - confirm making https connections based on first user certificates works (e.g. using curl)
 - replace first CA with the second

[2019-10-10 14:11] marthauk opened #108 "BMCWEB; logging-level set to DEBUG in bmcweb/src/webserver_main.cpp"
In `bmcweb/src/webserver_main.cpp` log-level is set explicitly to DEBUG: `crow::logger::setLogLevel(crow::LogLevel::DEBUG)`. The log-level should, in my opinion be set by `BMCWEB_LOG_LEVEL` defined in `bmcweb/crow/include/crow/settings.h`. As a consequence of this, `setLogLevel( LogLevel level) ` may need to be changed.

[2019-10-15 16:13] edtanous commented on #108
I see some thoughts here, but I don't really see a "why" stated.  settings.h is a file that's slated for deletion as it's old, and isn't actually used anymore at this point.  The intent for the logging system at the moment is logs are either enabled, or disabled through the BMCWEB_ENABLE_LOGGING macro.

[2019-10-15 17:09] joseph-reynolds commented on #103
Per the code review comments, removed the special case code to handle PATCH the Password property in `/redfish/v1/AccountService/Accounts/testuser`.  This method returns HTTP status 200 (OK) for success, and currently returns 500 (Internal server error) for failure, with an empty HTTP response body (Content-Length: 0).  Callers are advised to test for (HTTP_status == 200).

[2019-10-15 22:50] edtanous commented on #107
The below is speculation, but I suspect what you're seeing is not a bug, but a feature that you don't realize curl has.

Curl has connection keepalive enabled by default, which is likely keeping you logged in even though you think that it's a "new" connection to the BMC.  You can verify this by running curl with the "-v" argument, and you will see the second call has something like this near the t

[2019-10-16 08:49] mjusza commented on #107
I checked --no-keepalive flag in curl and it does not help here. Changing CA during sending many requests within one curl connection does not prevent from getting data using that flag.
Only **_-H "Connection: close"_** header option helps and prevents using invalid user certificates.

I believe the real problem is keeping session authorized with user certificate signed previous when new CA is curr

[2019-10-16 12:30] alext-w commented on #107
On a broader topic of whether we should break the connection upon the CA cert update.

FWIW, I'd vote for closing the sessions that use the old CA cert - if it was replaced while still being technically valid, chances are the key associated with it was compromised, so any client certs signed by it are potentially rogue.

Of course sane admins would normally replace their CA certs while they're sti

[2019-10-16 12:36] zkurzyns commented on #107
Fix proposition for this issue: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/26111

[2019-10-16 13:10] zlukwins commented on #107
I believe we have two issues here right now.
First one is about the case described in the first post. And it is about  bmcweb allows to make a connection (but only one) based on user certificate related to the CA certificate already replaced. Next connection making try doesn't work - bmcweb tells it is unauthorized. And fix proposition mentioned by @zkurzyns is related to this issue in fact.
Addin

[2019-10-17 06:42] marthauk commented on #108
Ok. I didn't know that the settings.h file was slated for deletion. But I think its weird that there isn't a way of configuring logging for bmcweb (other than enabling or disabling it).
Using `BMCWEB_LOG_LEVEL` makes sense in my opinion.

 The why; Configuring logging-level by using `BMCWEB_LOG_LEVEL` would allow for user configuration of logging through CMake file rather than having to patch the

[2019-10-17 22:57] edtanous commented on #66
This was completed recently.  To my knowledge this is as secure as we can make it.

[2019-10-17 22:57] #66 closed

[2019-10-24 07:10] maxdog988 opened #109 "event log entries are also listed in the redfish/v1/UpdateService/FirmwareInventory"
I found that the event log entries are also listed in the redfish/v1/UpdateService/FirmwareInventory
"Members": [
        {
            "@odata.id": "/redfish/v1/UpdateService/FirmwareInventory/1"
        },
        {
            "@odata.id": "/redfish/v1/UpdateService/FirmwareInventory/2"
        },
        {
            "@odata.id": "/redfish/v1/UpdateService/FirmwareInventory/3d6fac2f"

[2019-10-24 17:14] joseph-reynolds commented on #103
The Password change REST API `PATCH /redfish/v1/AccountService/Accounts/${TESTUSER}` with JSON request data `{"Password": "NEWPASSWORD"}`) does not currently give any indication about what went wrong with the password change request.  Some information is available from the underlying PAM chauthtok interface, but that information is not being returned to the REST API caller.  Reference: In https://

[2019-10-31 18:55] ratagupt commented on #106
@Journey-x Currently it is not supported. It is a kind of enhancement.

[2019-10-31 19:03] geissonator commented on #106
This just got kicked off again on the mailing list as well via https://lists.ozlabs.org/pipermail/openbmc/2019-November/019246.html.

[2019-11-12 21:12] zlukwins opened #110 "Replacing/deleting CA certificate doesn't close https connections made based on that CA certificate"
Issue is about https connections made based on CA certificate are not closed when CA certificate is replaced or deleted.
Step to reproduce:

1. Install CA certificate (mTLS).
2. Create (and keep alive) https connection based on installed CA certificate.
3. Delete CA certificate installed in first step.
4. Check if connection created in the second step is valid/active.

Current result:
Connection i

[2019-11-12 21:15] zlukwins commented on #107
Closing this issue since was fixed - there is no reproduction.
But the flavor discussed here as well which was about not closing https connection based on already deleted/replace CA certificate was move to separate issue: #110

[2019-11-12 21:15] #107 closed

[2020-01-06 09:14] mine260309 opened #112 "Failure to upload image"
On latest OpenBMC (`2.8.0-dev-1020-g90a837f71`), uploading image to BMC always results in below error:
[code]

There should be something wrong with bmcweb handling the image upload.

[2020-01-06 09:16] mine260309 commented on #106
We have a solution using nc to redirect http to https:
* https://gerrit.openbmc-project.xyz/c/openbmc/meta-openpower/+/28015 enables nc server
* https://gerrit.openbmc-project.xyz/c/openbmc/meta-openpower/+/28099 adds the scripts for nc to listen on 80 and redirect to 443

[2020-01-06 16:51] geissonator commented on #109
Oh shoot, I just put a "fix" up for this but yeah, there was a reason we made this change. Will probably need some more discussion in review.

Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/28238

[2020-01-07 16:27] anoo1 commented on #112
I removed the most recent bmcweb commit one at a time and found this is the one that breaks the upload method:
https://github.com/openbmc/bmcweb/commit/c00500bcb9c5145f5cacb78bbe3dd694fb85ba0a#diff-803ba410a868d281cec5495c502ba0de

With the commit before it (cac94c55c59a397524a04786f4d699e2bd7f21bf) the upload still works.

@jansow @feistjj could you take a look?

[2020-01-07 16:49] anoo1 commented on #112
Although I'm getting a different error:

[code]

[2020-01-07 18:06] feistjj commented on #112
Checked that reverting c00500b does not fix the issue.. is there multiple bad commits?

[2020-01-07 19:14] feistjj commented on #112
I reverted c00500b locally and it seems to work, I'll give @jansow the standard 24hrs to try to fix it, then we can revert it.

[2020-01-08 12:11] jansow commented on #112
Fix is ready for review: [28294 ](https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/28294) Increase HTTP connection timeout

Commit c00500b, among others, fixed HTTP deadline timer.
If payload transfer took more than 5 second connection was closed by bmcweb.
Increased timeout to 30 seconds which should address current cases.

[2020-01-16 09:17] jansow commented on #112
Issue fixed by commit 2b5e08e.

[2020-01-23 18:09] gtmills commented on #112
@mine260309 Can this be closed?

[2020-01-23 18:10] gtmills commented on #109
@geissonator @maxdog988 28238 merged. Can we clsoe?

[2020-01-23 18:11] gtmills commented on #100
@sunharis @prkatti1 23983 merged. Can we close?

[2020-01-23 18:12] gtmills commented on #77
@kuiyingw Can we close or still a problem?

[2020-01-23 20:53] geissonator commented on #109
Yep, fixed in https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/28238

[2020-01-23 20:53] #109 closed

[2020-01-24 02:32] prkatti1 commented on #100
It is working, so closing this.

[2020-01-24 02:32] #100 closed

[2020-01-27 15:29] gtmills commented on #49
MemorySizeInKb was added to https://github.com/openbmc/phosphor-dbus-interfaces/blob/master/xyz/openbmc_project/Inventory/Item/Dimm.interface.yaml

Still don't see ProcessorFamily in the CPU inventory item

[2020-01-27 17:06] feistjj commented on #49
@ratagupt @edtanous is no longer on the project, @cyang29 can you upstream this property?

[2020-01-28 08:27] mine260309 commented on #112
Yup, issued fixed.

[2020-01-28 08:27] #112 closed

[2020-02-04 11:08] varyhin commented on #85
apt install -y libssl-dev zlib1g-dev libpam0g-dev pkg-config autoconf autoconf-archive libtool libsystemd-dev

[2020-02-06 22:41] gtmills commented on #32
@feistjj Can you please reopen?

[2020-02-07 17:13] feistjj commented on #32
Opening back up to change it to handle it with a glob or similar so we can stop patching the script

[2020-02-12 18:04] wilhelmy opened #113 "Build error when nlohmann-json is too old"
I tried with 3.3.0 and 3.4.0, with both I get the following error, while 3.7.3 works. (I didn't check the minimum working release)

[code]

[2020-02-12 18:06] feistjj commented on #113
Supported version is here: https://github.com/openbmc/bmcweb/blob/bd5db5221f1a295da61a3e4dba0c48724e090825/CMakeLists.txt.in#L49

[2020-02-12 23:53] feistjj opened #114 "Security: BMCWEB_ENABLE_DBUS_REST=ON enables information leak"
Rest D-BUS allows lower privileged users to gain access to privileged information by direct D-Bus access.  The default of this should be disabled.

[2020-02-12 23:55] feistjj commented on #113
Not an issue, emplace_back was not supported in early versions of nlohmann. Please comment if there are other issues.

[2020-02-12 23:55] #113 closed

[2020-02-13 00:00] feistjj commented on #114
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/29344 closes this issue

[2020-02-19 23:16] joseph-reynolds opened #115 "Create cookies with SameSite=Strict"
Enhance BMCWeb (https://github.com/openbmc/bmcweb/blob/master/include/token_authorization_middleware.hpp#L430) to create cookies with `SameSite=Strict` by default.
Do we need to write cookies with `SameSite=None; Secure` when BMCWEB_INSECURE_DISABLE_XSS_PREVENTION is also used to support the use case of hosting the BMC's website off of the BMC?

See: the Chrome browser’s SameSite cookie changes: h

[2020-02-19 23:45] joseph-reynolds opened #116 "Enhance BMCWeb to present intermediate site identity certificates"
Enhance BMCWeb to present intermediate site identity certificates.
Document for the BMC Admin how to do it; for example, how to replace such certificates.

See discussion in the 2020-02-5 Agenda item 2:
https://docs.google.com/document/d/1b7x9BaxsfcukQDqbvZsU2ehMq4xoJRQvLxxsDUWmAOI

[2020-02-20 16:22] gtmills opened #117 "Validator: Warning: Oem.OpenBmc.Certificates not defined in schema OemManager"
From the validator:
WARNING - Oem.OpenBmc.Certificates not defined in schema OemManager (check version, spelling and casing)

https://github.com/openbmc/bmcweb/blob/master/redfish-core/lib/managers.hpp#L1627

[code]

But don't see Certificates defined in the OemManager schema.
https://github.com/openbmc/bmcweb/blob/master/static/redfish/v1/schema/OemManager_v1.xml
https://github.com/openbmc/bmcweb

[2020-02-20 16:33] gtmills opened #118 "Validator: LDAP: ActiveDirectory: AccountProviderType deprecated"
From the validator:

WARNING - LDAP.AccountProviderType: The given property is deprecated by revision: This property is deprecated because the account provider type is known when used in the LDAP and ActiveDirectory objects.
WARNING - ActiveDirectory.AccountProviderType: The given property is deprecated by revision: This property is deprecated because the account provider type is known when used i

[2020-02-20 16:35] gtmills commented on #118
@ratagupt Any objection to just removing AccountProviderType ?

[2020-02-20 19:12] feistjj commented on #117
cfcd5f6bd introduced this issue, @devenrao can you please fix this issue?

[2020-02-20 19:18] gtmills commented on #118
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/29584 resolves this

[2020-02-21 19:51] gtmills opened #119 "Redfish: Violations: /redfish/v1/Managers/bmc/Truststore/Certificates"
1. A certificate collection can only be implemented at these paths:
https://redfish.dmtf.org/schemas/v1/CertificateCollection_v1.xml

The options under Managers are:
 /redfish/v1/Managers/{ManagerId}/RemoteAccountService/Accounts/{ManagerAccountId}/Certificates
/redfish/v1/Managers/{ManagerId}/RemoteAccountService/ActiveDirectory/Certificates
/redfish/v1/Managers/{ManagerId}/RemoteAccountService/L

[2020-02-21 19:52] gtmills commented on #119
@devenrao

[2020-02-21 19:57] gtmills commented on #104
@gkeishin Still a problem?

[2020-02-21 19:57] gtmills commented on #85
@abrahamrhoffman Still a problem or can this close?

[2020-02-21 19:57] gtmills commented on #79
@prkatti1 Still a problem?

[2020-02-21 19:58] gtmills commented on #94
@prkatti1 Still a problem?

[2020-02-21 19:59] gtmills commented on #96
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/23338 merged. Can we close?

[2020-02-21 20:03] gtmills commented on #49
@cyang29 Do you mind upstreaming ProcessorFamily ?

[2020-02-21 20:03] feistjj commented on #96
Looks like it was closed already.. Not sure how it reopened.

[2020-02-21 20:03] #96 closed

[2020-02-21 20:23] abrahamrhoffman commented on #85
@gtmills - proper library installation fixed it. Please feel free to close and thanks for asking!

[2020-02-21 20:23] #85 closed

[2020-02-21 21:14] #118 closed

[2020-02-24 10:49] devenrao commented on #119
If your question is about  the below URL should be a valid path, then I guess you are correct, but there is nothing that we can show there when compared to the other URL''s like HPPTS and LDAP.

$ curl -k https://${bmc}/redfish/v1/Managers/bmc/Truststore
Not Found

[2020-02-25 06:41] devenrao commented on #117
sure will take a look

[2020-02-28 14:34] KlaudiaJ opened #120 "Computer System "Id" different in path and returned object."
**Issue**
The Id of the object should be the same in body as in the path.

**Description**
There is always one instance of ComputerSystem object available in Bmcweb, under the path
"redfish/v1/Systems/system", indicating that the object id is "system".

However, when receiving the system object body the "Id" field equals "SerialNumber" filed not "system" string.

[2020-02-28 14:49] KlaudiaJ commented on #120
This seems to be due to the line of code here:
https://github.com/openbmc/bmcweb/blob/master/redfish-core/lib/systems.hpp#L536

Was it intentional?

[2020-03-11 11:04] asmithakarun opened #121 "No Redfish support for code updating with the alternate image available in the Firmware Inventory"
Hey @anoo1.

Currently, there is no Redfish support to either delete the alternate image in the inventory or activate the alternate image and make it functional.

When tried to flash the system with the image that is active, I could see the Journal logs of BMC says, "Software Object with the same version already exists".

[2020-03-11 11:10] #121 closed

[2020-03-13 04:53] gkeishin opened #122 "Error clearing event logs via LogService.ClearLog:"
[code]

[code]

any new changes recently ?

[2020-03-13 18:16] feistjj commented on #122
@jmbills ?

[2020-03-13 18:35] jmbills commented on #122
No changes there that I'm aware of.  I tested on my system using Postman and did not see the failure.

[2020-03-16 18:23] gkeishin commented on #122
This one is recent failure.. @jmbills  it use to work earlier.  I ll load the latest one and will re-try

[2020-03-16 18:39] jmbills commented on #122
Okay.  I'll also pull the latest and check it again.

[2020-03-16 19:33] gkeishin commented on #122
[code]
I pulled the latest master and its is working there now. so not sure why it failed last week run

[2020-03-17 05:25] gkeishin commented on #122
Since it worked in latest and greatest . Closing this.. I ll re-open if I notice in subsequent builds.

[2020-03-17 05:25] #122 closed

[2020-04-27 18:59] dixsie opened #123 "Network Settings: Static IPv4 Configuration - PATCH doesn't return patch properties"
## Expected Behavior
When submitting a PATCH expect PATCH to either return a 200 and the patched properties or a 204.

## Actual Behavior
Returns a 200 and only 1 property (host name in this case). Patch response should include IPv4 array.

Response payload:
[code]

[2020-04-27 19:00] dixsie commented on #123
@ratagupt @gtmills @derick-montague Can you help explain what the response should look like?

[2020-04-27 19:06] dixsie opened #124 "Network Settings: Static IPv4 Configuration - PATCH 200 response does not persist"
## Expected Behavior
Expect that sending a PATCH with updated properties for `IPv4StaticAddresses` should persist.

## Actual Behavior
Response is a 200 ok returning only HostName. Refreshing the page shows that the patch did not save successfully.

## References
Static IPv4 Addresses
- https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/22940 @raviteja-b
- https://github.com/openbmc/openbmc/iss

[2020-04-27 19:07] dixsie commented on #124
@ratagupt @gtmills @derick-montague Found an abandoned github issue around editing not working. Also found a Gerrit review showing that editing is working. Can someone help with this one?

[2020-05-11 15:05] dixsie commented on #124
I am able to add and delete an IPv4 configuration, but unable to edit existing configs.

Example, when two objects in the array exist:

`"IPv4StaticAddresses": [
    {
      "Address": "10.0.0.0",
      "AddressOrigin": "Static",
      "Gateway": "0.0.0.0",
      "SubnetMask": "255.255.252.0"
    },
    {
      "Address": "10.0.0.2",
      "AddressOrigin": "Static",
      "Gateway": 0.0.0.0",

[2020-05-11 15:10] dixsie commented on #124
Network Settings: Static IPv4 Configuration - PATCH doesn't return patch properties https://github.com/openbmc/bmcweb/issues/123

[2020-05-11 15:30] ratagupt commented on #124
@prkatti1 : can you verify this?

[2020-05-11 21:16] derick-montague opened #125 "Redfish: Processor and DIMM all return absent state"
## Overview
**FW version**: fw1010.00-26.2-50-gcfed7033f-dirty
**System**: Witherspoon-Tacoma

### DIMM
![image](https://user-images.githubusercontent.com/1183515/81612303-3d42e280-93a2-11ea-96d5-3d947f280346.png)

### Processor
![image](https://user-images.githubusercontent.com/1183515/81612295-39af5b80-93a2-11ea-8448-b647e9f1fa87.png)

[2020-05-26 10:35] z1908144712 opened #126 "Some worry in starting bmcweb"
An unknown error was encountered while starting bmcweb:
[code]
[code]

[2020-05-28 02:45] DavidCYWang commented on #125
@derick-montague
Try to configure <machine>-ipmi-fru-properties.yaml
An existing example at meta-ibm/meta-palmetto/recipes-phosphor/palmetto-ipmi-fru-properties.yaml
It set the dbus property Present to 'true', and the value 'Absent' will turn to 'Enable'.

[2020-05-28 13:03] derick-montague commented on #125
I created the story based on issues with the GUI. @gtmills can you help with this?

[2020-06-05 07:25] prkatti1 opened #127 "Redfish: DHCP Enable and Disable not working"
Enabling and disabling DHCP via Redfish is not working. Getting 500 error.

Verson info:
cat /etc/os-release
ID=openbmc-witherspoon
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="2.8.0-rc1"
VERSION_ID=2.8.0-rc1-0-g35a774200
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) 2.8.0-rc1"
BUILD_ID="2.8.0-rc1"
OPENBMC_TARGET_MACHINE="witherspoon"

cu

[2020-06-05 18:28] feistjj commented on #126
Are you using the /var/log/redfish logging? @apuli1 is looking into fixing that startup issue if /var/log/redfish is absent

[2020-06-08 09:00] KlaudiaJ commented on #120
Looks like it was fixed with commit commit c1e236a6b2b1a6855c34279fb4800d8c5a15dfc2. Closing this issue.

[2020-06-08 09:00] #120 closed

[2020-06-08 10:57] z1908144712 commented on #126
@feistjj Yes, when I manually create /var/log/redfish, bmcweb starts normally

[2020-06-10 15:23] gkeishin opened #128 "bmcweb: PAM unable to dlopen(/lib/security/pam_localuser.so): /lib/security/pam_localuser.so: cannot open shared object file: No such file or directory"
[code]

observed this one when trying to connect to BMC via web GUI.. in latest master build

[2020-06-11 02:11] z1908144712 commented on #126
OK, I will close this issue.

[2020-06-11 02:11] #126 closed

[2020-06-11 05:24] gkeishin commented on #128
[code]
With build https://openpower.xyz/job/openbmc-build/2600/
[code]

looking good with latest build..

[2020-06-11 13:46] gtmills commented on #128
Can we close? @gkeishin

[2020-06-15 14:06] joseph-reynolds commented on #67
There is an patch to address the bad password: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/27503 and see also https://redfishforum.com/thread/246/message-send-patch-password-failure.  I would be happy for someone else to work on this, and if is not done when I need it, I'll take another look, but don't expect anything soon.

[2020-06-15 14:10] joseph-reynolds commented on #103
PasswordChangeRequired merged with https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/29136
The improved message when the password change fails is being tracked here:
- https://github.com/openbmc/bmcweb/issues/67
- https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/27503

[2020-06-15 14:10] #103 closed

[2020-06-18 14:08] gkeishin commented on #128
Done.. Thanks

[2020-06-18 14:08] #128 closed

[2020-06-25 08:36] jk-ozlabs commented on #127
Reproduced on the s2600wf platform too, I'll do some investigating.

[2020-06-25 09:33] jk-ozlabs commented on #127
It looks like the DHCP data isn't correct in the first place; on my DHCP-enabled configuration, I get:

[code]

(this is before doing any `PATCH` operation)

[2020-06-25 09:58] jk-ozlabs commented on #127
Looks like we're out of sync between phosphor-networkd and bmcweb; the change in 12162be363f1 isn't supported by phosphor-networkd (and violates the current phosphor-dbus-interfaces spec).

[2020-06-25 13:27] geissonator commented on #127
I think @Howitzer105mm has some code coming to fix this. He's testing the different pieces with https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/33765

[2020-06-25 16:14] Howitzer105mm commented on #127
Commit 33765 combines:
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-host-ipmid/+/27278
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-networkd/+/24666
https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-dbus-interfaces/+/33689

BMCWeb and phosphor-dbus-interfaces were in sync at one time in the long distant past. At the time only phosphor-network was needed to be merged to make t

[2020-06-26 01:38] jk-ozlabs commented on #127
OK, super, I've added a couple of reviews on those, all look good.

We should work out a strategy to fix this for the 2.8 branch in a non-intrusive way; should we revert the original bmcweb change there?

[2020-06-26 19:29] Howitzer105mm commented on #127
I'm not sure what your concern is.
IMO this is an intrusive change. Why does it matter which branch we intrude upon?

[2020-06-28 03:44] lzy1212003 opened #129 "How can we get patch result through call doGet for the current resource?"
Because of the asynchronous operation of ASIO, the patch operation will return quickly and not get patch body result. How can we call doGet after patch operation to return the result of the current operation?

[2020-06-29 17:52] feistjj commented on #129
Patch calls only return status. You can do an http GET to all the doGet method

[2020-06-30 01:08] lzy1212003 commented on #129
“For update, replace, and delete operations, the response from the service, after successful modification,should be one of the following responses:
• The HTTP 200 OK status code with a body that contains the JSON representation of the targeted resource after the modification has been applied, or, for the delete operation, a representation of the deleted resource.”,this is the explication for patch

[2020-06-30 01:19] edtanous commented on #129
You carefully cut off the part of the specification that's relevant here.  The text you quoted continues with another option
[code]
This is the option bmcweb implements for most of its PATCH interfaces.  bmcweb is well within the specification to do so.

Note, what you are asking for is not available by design, as in practice, it tends to require 2x the number of dbus calls for something that can

[2020-06-30 01:34] lzy1212003 commented on #129
thanks！
but, many patch operations return results with a status code of 200, and the response body is message extension information. Is this not compliant with redfish specifications！

[2020-06-30 01:54] edtanous commented on #129
Per the line in the spec, on the line that I quoted, there is nothing in the specification that requires PATCH operations to return a 200, with the response body.  This is implementation dependent, and the bmcweb implementation chooses to return 204 (for good reason).
If you can quote the portion of the specification that states that a Redfish implementation MUST return 200, it's possible I'm mist

[2020-06-30 02:06] jk-ozlabs commented on #127
Because we're attempting to stabilise 2.8, no?

[2020-07-06 04:24] khaderpython opened #130 "How to enable/compile BMCWeb"
Hi Team,

I am newbiee to  Openbmc.  I want to enable/compile bmcweb .Could you please guide me on how to enable/compile the bmcweb project.

here are the steps i have followed:
Clone OpenBMC project : git clone https://github.com/openbmc/openbmc.git
Compile using the following command: TEMPLATECONF=meta-phosphor/conf  . openbmc-env
modify the following files:
 #build vi conf/local.conf   (modify

[2020-07-06 05:01] khaderpython commented on #130
Also i have tried the following steps to enable BMCWeb but i am getting errors:

Changes  made in openbmc :

Find the location of the recipes for bmcweb.
~/openbmc$ find . -name bmcweb*
We find it in ./meta-phosphor/recipes-phosphor/interfaces/bmcweb_git.bb

Change bmcweb_git.bb. Redirect to my github repo and commit version
SRC_URI = "git://github.com/MichaelTien8901/bmcweb.git"
SRCREV = "7d044f7

[2020-07-07 10:20] khaderpython commented on #130
Can someone please guide on this please.

[2020-07-07 10:26] khaderBashaShaik commented on #130
Attaching the error info and error log for more info:

WARNING: obmc-phosphor-sysd-1.0-r1 do_package_qa: QA Issue: obmc-phosphor-sy                                                                                 sd: SRC_URI uses PN not BPN [src-uri-bad]
ERROR: bmcweb-1.0+gitAUTOINC+7d044f7429-r0 do_compile: Execution of '/home/basha/obmc_test/openbmc/build/tmp/work/cortexa53-openbmc-linux/bmcweb/1

[2020-07-07 10:32] khaderpython commented on #130
Attaching the error info and error log for more info:

WARNING: obmc-phosphor-sysd-1.0-r1 do_package_qa: QA Issue: obmc-phosphor-sy sd: SRC_URI uses PN not BPN [src-uri-bad]
ERROR: bmcweb-1.0+gitAUTOINC+7d044f7429-r0 do_compile: Execution of '/home/basha/obmc_test/openbmc/build/tmp/work/cortexa53-openbmc-linux/bmcweb/1.0+gitAUTOINC+7d044f7429-r0/temp/run.do_compile.2291901' failed with exit code 1

[2020-07-07 16:51] feistjj commented on #130
Your error looks like you're using an old version of bmcweb, boost has been updated to a newer version and that file is no longer supported. Suggest using the latest bmcweb in the repo.

[2020-07-08 13:28] khaderpython commented on #130
Thanks alot  for pointing it out. After pulling latest code of bmcweb  I am able to compile it.
I will mark this as closed.

[2020-07-08 13:28] #130 closed

[2020-07-10 10:10] edineshkumar opened #131 "Need details on WebUI launching."
How I can read in BMC, either WebUI launched or else not?

If launched, also need which network(IP addr) was used for WebUI launching ?

[2020-07-14 20:55] geissonator commented on #131
Should just be "https://<ip or hostname of bmc>"

[2020-07-15 07:02] edineshkumar commented on #131
@geissonator thanks for your response,

Actually my need is, after launching WebUI in URL, want to know WebUI is really launched  and also need IP address which is used for launching WebUI.

**Note**:
**These details and all must be get to know from BMC side**.

[2020-07-15 14:08] master882020 opened #132 "upload image：unable to upload image file"
hello！
Do image upload, bmcweb always gives below 400 error, even when the upload start.
![image](https://user-images.githubusercontent.com/61579998/87803967-cdf7dc00-c885-11ea-97af-e4e1bddce823.png)

[2020-07-16 01:00] feistjj commented on #132
Please try uploading without using the web-ui (postman, python requests, etc), and post results

[2020-07-16 13:42] master882020 commented on #132
use cmd：

busctl set-property org.open_power.Software.Host.Updater /xyz/openbmc_project/software/<id> xyz.openbmc_project.Software.Activation RequestedActivation s xyz.openbmc_project.Software.Activation.RequestedActivations.Active

the error：

![image](https://user-images.githubusercontent.com/61579998/87678080-1a231d80-c7ad-11ea-88ef-3184ea2d4031.png)

[2020-07-17 14:11] master882020 commented on #132
@feistjj thank you！
the imaage is upload but can't update.
use cmd：
busctl set-property xyz.open_power.Software.BMC.Updater /xyz/openbmc_project/software/<id> xyz.openbmc_project.Software.Activation RequestedActivation s xyz.openbmc_project.Software.Activation.RequestedActivations.Active

the error：

![image](https://user-images.githubusercontent.com/61579998/87795031-13aea780-c87a-11ea-9075-083ed

[2020-07-17 14:12] master882020 commented on #132
@feistjj hello！
use cmd：
busctl set-property xyz.open_power.Software.BMC.Updater /xyz/openbmc_project/software/<id> xyz.openbmc_project.Software.Activation RequestedActivation s xyz.openbmc_project.Software.Activation.RequestedActivations.Active

the error：

![image](https://user-images.githubusercontent.com/61579998/87795031-13aea780-c87a-11ea-9075-083ed7f5b7d8.png)

[2020-07-17 16:51] feistjj commented on #132
Maintainers of phosphor-bmc-code-mgmt, any ideas? @anoo1 @gtmills @mine260309

[2020-07-17 17:38] anoo1 commented on #132
One possibility is that the uploaded image is the same one that's on the system.
Could you provide additional information:

- Journal:
Issue "journalctl -f &" then upload the file and post the journal messages that get printed during the upload command

- After upload:
You should see the 2 different versions, the running and the uploaded one:
busctl --no-pager tree xyz.openbmc_project.Software.BMC

[2020-07-18 02:01] master882020 commented on #132
@anoo1  @feistjj  thanks！
the err is that the uploaded image is the same one that's on the system.
I can successfully upload the old image(2.8.0-dev...) and update it.

I suggest if  uploaded image is the same one,  it should be prompted: "uploaded image is the same one"! and Support upload the .all.tar file.

In addition, what configuration can I  changed  the version number, such as 2.9.0-dev to

[2020-07-20 13:04] geissonator opened #133 "redfish validation failing with "Rework Authorization flow" commit"
All bmcweb bumps starting with https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/30994 are failing HW CI on witherspoon. The Redfish validation fails and we are unable to code update the system after this code gets on the system.

[code]

[code]

[2020-07-20 13:25] gtmills commented on #133
@feistjj Can you get today ? If not we should merge a revert

[2020-07-20 13:27] anoo1 commented on #132
The upload interface should print out a msg: "Software Object with the same version already exists"

Bright was working on adding the support but the review hasn't been updated in a few weeks. I might clean up it up so that we can merge it: https://gerrit.openbmc-project.xyz/c/openbmc/phosphor-bmc-code-mgmt/+/27620

[2020-07-20 14:03] master882020 commented on #132
@anoo1

I thnik it should be prompted at webui like : "Errot: with the same version already exist", and not "Error:unable to upload image file"

Thank you very much. I hope it will merge soon.

[2020-07-20 16:27] feistjj commented on #133
How can I reproduce this failure?

[2020-07-20 17:11] geissonator commented on #133
Here's the console output:
[code]

[2020-07-20 17:12] gtmills commented on #133
@feistjj https://github.com/openbmc/openbmc-test-automation/blob/79bf27331f4f9b704e77cbec61df4152cfe966d9/redfish/dmtf_tools/Redfish_Service_Validator.robot#L16
Are you using basic auth ?

[2020-07-20 17:16] feistjj commented on #133
No, I'm using this config:
[code]
I'll try using those args

[2020-07-20 17:24] feistjj commented on #133
@gtmills  those args work for me

Although from @geissonator it looks like you are hitting the timeout for some reason. I would have assumed 15 seconds to be long enough, but

It does look like you're hitting the timeout though, can you pull down /redfish/v1/schema/Memory_v1.xml on one of your systems and see how long it takes in the inspect window?

[2020-07-20 18:30] feistjj commented on #132
Closing as seems to not actually be an issue, please reopen if I am mistaken.

[2020-07-20 18:30] #132 closed

[2020-07-20 20:40] feistjj commented on #133
I *think* this might fix it: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/34898

That being said, I don't have access to a system that fails in this exact manner.

[2020-07-20 21:42] geissonator commented on #133
We didn't test with the bmcweb commit on the system, but just doing the get of Memory_v1.xml was very fast for us using master code:
[code]

[2020-07-20 22:57] gtmills commented on #133
James do you want to try to wipe your MetadataFilePath = /home/james/redfish_metadata and see if that recreates?

[2020-07-20 23:59] geissonator commented on #133
I gave the fix a quick run in QEMU but really didn't seem to help. I verified that running the validator against the current bmcweb merged into openbmc master/master passed as expected (-2 power supply tests that always fail)

[2020-07-21 16:04] feistjj commented on #133
@gtmills when I used the args from the script I used a different path

@geissonator so its passing now?

[2020-07-22 14:19] geissonator commented on #133
Hey James, the validator tests are now passing! But we're still seeing the issue where when we try to code update the system after this commit gets on the system, it fails. Our images are large and our network is slow, so I think we need to increase the time allowed on the pushing of the images? @anoo1 remembered a commit where we had bmcweb monitor for activity and would allow a connection to sta

[2020-07-22 14:26] anoo1 commented on #133
For reference this is the commit that fixed big uploads: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/28335

Seems the function was modified as part of the latest change set, maybe that piece needs to be revisited or left the same.

[2020-07-22 15:15] feistjj commented on #133
Ok I'll add something like that back today

[2020-07-22 15:16] feistjj commented on #133
Ok I think we can add that back now that we check if we are authenticated before read, I'll do that today

[2020-07-22 15:24] feistjj commented on #133
How long is "really long"? Now that we have 2 timers for logged-in and logged-out users, we can increase the timer for logged-out users to anything

[2020-07-22 15:34] geissonator commented on #133
Looking through the last few runs, it seems like the upload is only taking about 8 seconds. Our network can def fluctuate a bit though. We do have some concern that emmc support is on it's way and we're talking much larger images to upload there. So anything that allows a connection to stay open as long as data is flowing would be great.

[2020-07-22 15:58] feistjj commented on #133
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/34972

[2020-07-22 16:53] edtanous commented on #133
The core of this issue is that we need a chunked upload mechanism.  The full bmc image (32 or 64MB) is already too big to be holding in memory in one shot, which is how bmcweb was originally designed because it was easier, and images at the time were smaller.  The long term intent was to provide a streaming interface (kinda like the websocket handler) so we could stream the file directly to disk,

[2020-07-23 14:08] geissonator commented on #133
Unfortunately, we still have issues code updating the system, even with the latest patch.

[code]

We see nothing in the bmc journal indicating an issue.

[2020-07-23 16:17] feistjj commented on #133
Dumb question, are you uploading to the new image, and then attempting to upload the image again? Are you stuck at an old 'bad version' that the upload isn't working for?

[2020-07-24 17:56] zhangoneone opened #135 "compile project failed,is it gcc version issue?thanks in advance!"
git pull
remote: Enumerating objects: 25, done.
remote: Counting objects: 100% (25/25), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 14 (delta 10), reused 6 (delta 2), pack-reused 0
Unpacking objects: 100% (14/14), 17.97 KiB | 766.00 KiB/s, done.
From https://github.com/openbmc/bmcweb
   62de0c6..72d566d  master     -> origin/master
Updating 62de0c6..72d566d
Fast-forward
 h

[2020-07-24 18:09] zhangoneone commented on #135
there are full compile log，as below:

Build started at 2020-07-25T02:07:10.183254
Main binary: /usr/bin/python3
Build Options: -Ddefault_library=static
Python system: Linux
The Meson build system
Version: 0.53.2
Source dir: /home/zq/fucking/bmcweb/build/sdbusplus-src
Build dir: /home/zq/fucking/bmcweb/build/sdbusplus-src/build
Build type: native build
Project name: sdbusplus
Project version: 1.0.0

[2020-07-24 18:32] feistjj commented on #135
sdbusplus recently changed to meson, and the out of tree build hasn't been fixed yet.

[2020-07-24 18:46] zhangoneone commented on #135
is it a solution that add bmcweb project to openbmc project and build it by yocto?

[2020-07-24 21:52] feistjj commented on #135
Yes, that or to use the openbmc-build-scripts repo docker container

[2020-07-27 08:03] chineweff opened #136 "Virtual Media Failed"
I tried to upload images with virtual media and got errors from browser console.

![擷取](https://user-images.githubusercontent.com/22802902/88515446-4b59e400-d01e-11ea-8743-3bafeedf72a7.PNG)

And can curl or wscat commands do the same feature (virtual media)?

Does anyone have any ideas?

Thanks.

[2020-07-27 19:26] aambroze commented on #136
Not sure what this error means but maybe you should start with basic checks...

Do you have https://github.com/openbmc/jsnbd set up in your system ? It sets up nbd-proxy application running in system as a backend for NBD device.

Your kernel also needs to have Network Block Device and USB Gadget Mass Storage modules enabled.

Also - bmcweb requires option BMCWEB_ENABLE_VM_WEBSOCKET enabled.

[2020-07-28 02:34] chineweff commented on #136
Thanks for your help.

I have jsnbd in my system, bmcweb will run nbd-proxy (jsnbd) and my system has NBD devices in /dev folder.
I'm not sure how to check whether USB Gadget Mass Storage modules enabled.

I added some debug prints in jsnbd. After I started virtual media jsnbd received two sock_client events and then received SIGTERM event because of previous error in javascript (invalid option ma

[2020-07-28 02:50] chineweff commented on #136
Thanks for your help.

I have jsnbd in my system, bmcweb will run nbd-proxy (jsnbd) and my system has NBD devices in /dev folder.

I add four lines in my kernel config to enable USB Gadget Mass Storage and Network Block Device.
CONFIG_USB_SUPPORT=y
CONFIG_USB_GADGET=y
CONFIG_USB_MASS_STORAGE=m
CONFIG_BLK_DEV_NBD=m

I added some debug prints in jsnbd. After I started virtual media jsnbd received tw

[2020-07-28 08:27] aambroze commented on #136
@jk-ozlabs would you care to comment?

[2020-07-29 12:27] chandu-tmba opened #137 "Dbus Interfaces for Inventory data like Dimms,Cpus,storage"
I want to test the system URI's like dimms,cpus,storage drives by manually setting dbus properties using interfaces defined in storage.hpp,cpudimm.hpp , Please let me know if any references available

[2020-07-31 19:37] edtanous opened #138 "Http connection calls into the filesystem for every connection request"
https://github.com/openbmc/bmcweb/blob/5a806649ec187926be5829f42f8f18606a3d4e75/http/http_connection.h#L286

It's not clear from inspection why this check is even here, and significantly goes against one of the bmcweb founding principals that we reduce the number of times we execute a context switch.  On inspection, it isn't clear why we would need it at all, as the SSLContext will have no public

[2020-08-03 06:53] zkurzyns commented on #138
When `adaptor.set_verify_mode(boost::asio::ssl::verify_peer); ` is called, which is done few code lines later then every connection is done using the TLS handshake. When TLS handshake is done with a web browser then it popups up a dialog box asking you to choose a certificate that should be used for this connection.
There is no point of showing this annoying popup when you already know that there

[2020-08-03 07:05] edtanous opened #139 "Bad json utils function"
https://github.com/openbmc/bmcweb/blob/01c6e8581bf44551bbb24d156fc191f87b1cdeea/redfish-core/include/utils/json_utils.hpp#L426

The following function seems to have been injected recently.  Aside from it being more code to write than the equivalent code it's attempting to replace, it's wrong in a couple different ways.  Given that it's only used in one module thusfar, I suspect that it needs to ju

[2020-08-03 07:47] edtanous commented on #138
On Sun, Aug 2, 2020 at 11:53 PM Zbigniew <notifications@github.com> wrote:

Whomever wrote that code seems to have ignored the comment here:
https://github.com/openbmc/bmcweb/blob/c94d37490b0090a2a4a0b6bad51cd8ab1339051e/include/ssl_key_handler.hpp#L315

So, when a CA is installed, all resources (including those that
explicitly don't require authentication) are protected behind mtls?  That
seems l

[2020-08-03 08:16] zkurzyns commented on #138
All whitelisted Redfish endpoints should be available despite mTLS is enabled and one will not use any or valid certificate.
If you have any doubts please verify it first, then create a new Issue.

I do not like current solution either and I am glad to hear someone has a better idea of how to implement this.
Please provide link to your code change, I will verify if it works.

Chrom, IE, Firefox wh

[2020-08-05 05:54] edtanous commented on #138
On Mon, Aug 3, 2020 at 1:17 AM Zbigniew <notifications@github.com> wrote:

I wanted to make sure this was the case.  Based on how it's coded, it
looks like it'll pop up the dialog box for all resources, not just the
ones protected by mtls, but it's very possible I've read it wrong.  I
was mostly just making sure this wasn't the intent, which it seems
like it isn't.  I'll verify and get a bug filed

[2020-08-05 11:48] whitehu81 opened #140 "How to access the bmcweb of openbmc firmware with correct certificate?"
If i launch the openbmc with the ast2500 evb, it is NOT possible to access the bmcweb via brower.

It look like the issue cause by the un-trusted certificate.
![image](https://user-images.githubusercontent.com/67943362/89408995-eb68e900-d753-11ea-9c1d-5cd6a933d37c.png)

**Is it possible to show me why it happen and how to fix it?**

Below is my openbmc cert snapshot, for your reference.

[code]

B

[2020-08-06 04:05] whitehu81 commented on #140
The default certificate that generated by the bmcweb is the version 1 from latest openbmc code base.
I did some search from internet(google), it seems that the chrome only accept the version 3 self signed certificate with correct subjectAltName.

So my question is how do you access the bmcweb by chrome with latest openbmc code base?
My understanding is the default https certificate is NOT accepted

[2020-08-07 04:06] #129 closed

[2020-08-07 04:06] lzy1212003 commented on #129
ok

[2020-08-07 06:20] lzy1212003 opened #141 "How can bmcweb support both HTTP and HTTPS？"
How can bmcweb support both HTTP and HTTPS？

[2020-08-07 16:25] feistjj commented on #141
bmcweb has taken an https only approach for security purposes

[2020-08-11 15:45] Abdelfel opened #142 "openbmc supports tftp only ?"
Hi,

I am trying to perform a redfish update firmware action via UpdateService/Actions/UpdateService.SimpleUpdate.
I noticed in the code in update_service.hpp that openbmc still only supports TFTP as a transfer protocol for the file.

`
        // OpenBMC currently only supports TFTP
        if (*transferProtocol != "TFTP")
        {
            messages::actionParameterNotSupported(asyncResp->res

[2020-08-13 04:06] hvu-ampere opened #143 "/Chassis/{id}/Thermal doesn't pass OCP Server Profile"
Hi,

When checking against OCP Server Profile, I got errors for /Chassis/{id}/Thermal as below:
[code]

The `PhysicalContext` property is missing in Temperatures. This property is just recommended in OCP Baseline Hardware Profile but required by OCP Server Profile ([Link](https://www.opencompute.org/wiki/Hardware_Management/SpecsAndDesigns)).

Currently, I check in the code that `PhysicalContext`

[2020-08-17 20:31] geissonator commented on #142
https://github.com/openbmc/docs/blob/master/designs/firmware-update-over-redfish.md#remote-image-download-based-update has some details on TFTP. I don't know of any plans to support anything more there. In general, it's best o just push your image directly if possible. Do you require a FTP based update or can you just use the UpdateService directly?

i.e.
[code]

There's no ftp server running on t

[2020-08-18 17:19] joseph-reynolds opened #144 "Crash with bad URL"
BMCWeb crashes when given a URL with a syntax error.  For example, `curl https://$bmc/'redfish\['`.  I get the response, `curl: (52) Empty reply from server` and logs from the command `journalctl -u bmcweb` shows (excerpts):
[code]
This happens in recent versions only, like beginning July/August 2020.
I believe a number of other syntax errors will also hit this problem.
Note that systemd restarts

[2020-08-18 17:20] edtanous commented on #144
A fix for this is already in review.
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/35707

Can you run your tests with it to verify it fixes this problem before its merged?

[2020-08-18 18:46] joseph-reynolds commented on #144
Nope.  Sorry, it already merged.   I commented on it anyway.  :-)
I understand George plans to test it.
I would like to see HTTP status 400 (bad request) for this, if possible.

[2020-08-19 00:55] edtanous commented on #144
"I would like to see HTTP status 400 (bad request) for this, if possible."
That's one possibility, on the other hand, they've broken the HTTP specification for urls, so bmcweb is fully within its rights to simply close the connection entirely.

I believe today it will return 404.

[2020-08-25 00:17] gtmills commented on #133
This has been resolved. Closing. @geissonator Please reopen if I wrongly closed.

[2020-08-25 00:17] #133 closed

[2020-08-25 16:14] joseph-reynolds opened #145 "Defense against connection flooding"
What defenses does BMCWeb have against connection flooding?  That is, repeatedly creating a connection via TCP port 433 (HTTPS) and then dropping that connection quickly without further using it, specifically without attempting authentication.  Is this something BMCWeb can handle or is it better addressed by a firewall (such as a BMC Kernel-based firewall that rate limits connections from specific

[2020-08-25 16:48] edtanous commented on #145
Today, there is no connection flooding prevention.  The naive hope in bmcweb is that by keeping the HttpConnection object small (memory wise), and using async methods everywhere, the damage that can be done is limited to only what the kernel allows, which should prevent permanent dos attacks, but definitely would make the bmc unavailable during the flooding.  Ideally we'd implement something like

[2020-09-01 10:47] Jayashree-D opened #146 "Internal error on BIOS upgrade"
In BIOS upgrade, I tried the following command to upgrade BIOS, and it shows internal error.
The file is being copied to /tmp/images/id, and journalctl logs are also empty.

[root@odc ~]#curl -k -H "X-Auth-Token: $token" -H "Content-Type: application/octet-stream" -X POST -T /home/bios/bios.tar.gz https://${bmc}/redfish/v1/UpdateService
{
  "error": {
    "@Message.ExtendedInfo": [
      {

[2020-09-01 13:07] anoo1 commented on #146
@gtmills commented on IRC:
[code]
The clue may be in the time it's taking to upload, since bmcweb may be timing out.

[2020-09-01 14:22] Jayashree-D commented on #146
I missed this comment on IRC.
When I tried to upload the BIOS image, it takes about 20 secs and internal error is shown.
But when I tried for BMC image, it takes about 35 secs and there is also journalctl logs.

root@tiogapass:~# journalctl | grep image
Jan 01 06:34:27 tiogapass phosphor-image-updater[242]: BMC image activating - BMC reboots are disabled.
Jan 01 06:34:32 tiogapass phosphor-image-u

[2020-09-01 15:00] gtmills commented on #146
Might need to rebuild with -DCMAKE_BUILD_TYPE=Debug

[2020-09-06 05:08] manojkiraneda opened #147 "Fix stringop overflow warning"
In the current state bmcweb fails to build by throwing the following error(warning treated as error due to -Werror) :

[code]

-Wstringop-overflow if a gcc warning that warns for calls to string manipulation functions such as memcpy and strcpy that are determined to overflow the destination buffer. gcc seems to be over strict on how 3rd parameter(size) of strncpy() is determined , and throws a war

[2020-09-07 06:10] Jayashree-D commented on #146
I installed the SDK using the below link.
https://github.com/openbmc/docs/blob/master/development/dev-environment.md

After that, I compiled cmake ./ && make and I am getting the below error.

Scanning dependencies of target bmcweb
[  7%] Building CXX object CMakeFiles/bmcweb.dir/src/webserver_main.cpp.o
In file included from /home/bmc/bmc/bmcweb/http/app.h:3,
                 from /home/bmc/bmc/b

[2020-09-07 12:17] jeb-de opened #148 "buildresult from docker build fails to start"
Building with the docker script by
[code]
creates the expected build result at
[code]

But starting fails with
[code]

Expected behaviour:
The bmcweb starts and serves the https on port 443 inside the docker container.

[2020-09-08 03:10] gtmills commented on #147
See https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/36131 for more information

[2020-09-08 10:07] Jayashree-D commented on #146
I resolved the error and copied the generated bmcweb to /tmp/ in the target.
Then executed the redfish command for BIOS image upgrade and the internal error is shown.

Journalctl logs after BIOS image upgrade.

root@tiogapass:/tmp/images# journalctl | grep image
Jan 05 18:01:28 tiogapass bmcweb[9985]: (1970-01-05 18:01:28) [DEBUG "update_service.hpp":676] Writing file to /tmp/images/7578ab0f-254d-

[2020-09-08 13:57] adathatri opened #149 "Clients are able to subscribe though EventService is disabled"
**Step to recreate:**

1. Disable EventService via Redfish.

[code]

[code]

2. Try to subscribe to events using RedfishEventListener_v1.py script after disabling the event service. (Here we will see that client is able to subscribe when EventService is in disabled state)

[code]

BMC FW: 2.9.0-dev-826-g3c0e2b427

@apuli1 @feistjj @ratagupt

[2020-09-08 14:18] adathatri opened #150 "Server responds with 403 error code instead of 503 when Event Subscription limit exceeds"
After exceeding maximum subscription limit of 20, BMC server responds with 403 error code instead of the expected 503 error code.

Steps to reproduce:
1. Create 20 Push style subscriptions in BMC using RedfishEventListener_v1.py script.
2. Try to subscribe for the 21st time and BMC responds with 403 instead of the expected 503 error code.

Error response obtained for 21st subscription from Redfish

[2020-09-08 14:28] jeb-de commented on #148
After some fiddling I got it working with (inside the docker contaner)
[code]

The port is now 18080, querying the redfish root works:
[code]

### But the default user/password combination doesn't work
[code]

Result::
[code]

Expected result:
[code]

How can this be fixed?

[2020-09-09 21:10] gtmills commented on #49
https://github.com/openbmc/phosphor-dbus-interfaces/commit/259f49e0c40b287d9ea79f77db1654da47161340 added Family. Thanks!
bmcweb still isn't looking for the right property names though:
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/35949/5/redfish-core/lib/systems.hpp#340

[2020-09-11 14:59] gtmills commented on #142
@Abdelfel Does that answer your question? Can we close ?

[2020-09-11 14:59] gtmills commented on #28
No response. Closing. Please reopen if still an issue.

[2020-09-11 14:59] #28 closed

[2020-09-11 15:01] gtmills commented on #51
No response. Closing. Please reopen if still an issue.

[2020-09-11 15:01] #51 closed

[2020-09-11 15:02] gtmills commented on #52
@prkatti1 @rahulmah Still a problem ?
I see commit https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/24725 was merged

[2020-09-11 15:03] gtmills commented on #53
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/19252/ merged. Closing.

@raviteja-b @prkatti1 Please reopen if still a problem.

[2020-09-11 15:03] #53 closed

[2020-09-11 15:04] gtmills commented on #58
@maximyep @gkeishin Still a problem or can we close ?

[2020-09-11 15:08] gtmills commented on #64
@joseph-reynolds asked Redfish yesterday for some way to support our user groups (ssh, ipmi, redfish, and web)

Redfish was receptive to adding something for us.
Their initial thought was adding additional enums to the array AccountTypes

[code]

[code]

 https://redfish.dmtf.org/schemas/v1/ManagerAccount.v1_6_1.json

If you have access to Redfish, https://github.com/DMTF/Redfish/issues/4189

[2020-09-11 15:14] gtmills commented on #119
@devenrao This violates the Redfish spec, Redfish has expanded where the Certificate schema can be implemented.

https://redfish.dmtf.org/schemas/v1/CertificateCollection_v1.xml

[code]

Can we move to one of these ?

[2020-09-11 15:17] gtmills commented on #135
@zhangoneone Did this work? Can we close?

[2020-09-11 15:20] gtmills commented on #140
Can you browse to https://ip_or_hostname_of_bmc ?
In your case, https://10.84.108.39 ?

[2020-09-11 19:32] gtmills commented on #49
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/36379/2/redfish-core/lib/systems.hpp fixed this. Closing. Please reopen if anyone thinks there is more work here.

[2020-09-11 19:32] #49 closed

[2020-09-14 07:19] Jayashree-D commented on #146
Could you please tell me, whether I am missing anything or any changes should be done in this part.
Thanks

[2020-09-14 10:16] leon728 commented on #148
use passwd to change root password to '0penBmc', or just create a new user

[2020-09-14 14:20] joseph-reynolds opened #151 "Defense against password guessing"
This is to track BMCWeb defenses against password guessing attacks.  Specifically, when authentication fails the response should take a few seconds before replying.

- Do we need to limit the maximum number of unauthenticated connections so we don't give attackers another way to cause DoS?
- What is the right way to do this so we don't leak information about what accounts exist via how long BMCWeb

[2020-09-14 18:29] maximyep commented on #58
I can't check or verify current behavior. Could be closed.

[2020-09-15 04:41] frsauvage commented on #142
Thank  a lot @geissonator,

Link does not work for me, please, can you double-check ?

_https://github.com/openbmc/docs/blob/master/designs/firmware-update-over-redfish.md#remote-image-download-based-update_
Regards,
Francine

[2020-09-15 12:37] gtmills commented on #142
The document moved recently. :)
https://github.com/openbmc/docs/blob/master/architecture/code-update/firmware-update-over-redfish.md

[2020-09-16 15:10] Jayashree-D commented on #146
Please kindly provide some suggestions on BIOS upgrade.
Thanks

[2020-09-22 06:17] frank-dawn opened #152 "“/redfish/v1/Managers/bmc” interface has no “DateTimeLocalOffset” property"
Hi All,
As you can see below that strings `DateTime `and `DateTimeLocalOffset `are defined in Redfish spec(DSP2046), but `DateTime `is the only result developed in bmcweb/redfish-core/lib/managers.hpp, is it because the Time Management based on system doesn’t support `DateTimeLocalOffset`? or it is not developed at all?

DateTime | string(datetime) | read-write(null) | The current date and time, w

[2020-09-22 11:07] #152 closed

[2020-10-05 10:29] vishwabmc commented on #125
@gtmills I was trying to set the OperationalStatus hoping it will change Health Property and realised it did not.. Then I saw it had

  "Status": {
    "Health": "OK",
    "HealthRollup": "OK",
    "State": "Absent"
  },

Is someone looking into this ?

[2020-10-08 16:45] edtanous commented on #151
This is not specific to bmcweb.  bmcweb calls into pam (similar to SSH and IPMI) which is where this fix needs to go.

Yes, but we should limit by IP address.  Putting an arbitrary limit on number of connections just means an attacker can open that many connections, and DOS other people from connecting.

No.  pam should return a consistent timing regardless of whether or not an account exists or n

[2020-10-08 16:52] edtanous commented on #150
@adathatri
Can you please retest with: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/37230

And see if it resolves your issue?

[2020-10-08 16:55] edtanous commented on #148
I've seen this as well with non socket activated files.  A workaround is to launch using the bmcweb.socket and bmcweb.service files.  As is, this is a regression, and will look when I have time.  I suspect this has something to do with attempting to open an ipv6 port on systems that don't support ipv6, but that's just a guess.

[2020-10-08 16:56] edtanous commented on #147
This bug was resolved on mainline.  Please reopen if still an issue.

[2020-10-08 16:56] #147 closed

[2020-10-08 16:58] edtanous commented on #142
Closing, as it appears you got your question answered.  Please reopen if this is still an issue.

[2020-10-08 16:58] #142 closed

[2020-10-08 17:00] edtanous commented on #140
This is a common bug.  You're attempting to navigate to a bmc using a UI (ie chrome) but haven't installed a ui (either phosphor-webui or webui-vue.)

[2020-10-08 17:04] edtanous commented on #137
This is a question much better suited for the OpenBMC mailing list.  If this is still an issue, or there is a bug, please reopen and provide more details.

[2020-10-08 17:04] #137 closed

[2020-10-08 17:04] edtanous commented on #136
Is this still an issue?

[2020-10-08 17:05] edtanous commented on #135
If this is still an issue, please feel free to reopen.

[2020-10-08 17:05] #135 closed

[2020-10-08 18:10] gtmills commented on #140
An example of adding a UI: https://gerrit.openbmc-project.xyz/c/openbmc/meta-ibm/+/35445 is switching several IBM systems from phosphor-webui to webui-vue

[2020-10-09 22:43] vijaykhemka opened #153 "Add async task for upgrade service"
Currently we are using timeout value for firmware upgrade service and user client wait until firmware upgrade ready or until timeout. We should implement this under asynchronous task because different firmware may take different time to complete upgrade so a timeout value can't be defined and also can't make user to wait for response for longer time.

[2020-10-12 02:23] whitehu81 commented on #140
I am sure the bmcweb service has been install and started successfully in my openbmc firmware, that's why I think the issue cause by the certificate of my chrome browser.

So my question is to access the UI of BMC firmware by bmcweb is expected solution or NOT? if yes, why i meet the certificate issue with chrome browser?

1. bmcweb process has been started as below in my AST2500 evb.
root@evb-ast

[2020-10-12 02:24] whitehu81 commented on #140
I failed to access the UI of my openbmc firmware by the https://IP_of_bmc.

[2020-10-12 08:21] hsj928 opened #154 "TypeError: cannot deepcopy this pattern object"
What's the problem?

root@ubuntu:/home/ubuntu/bmcweb-docker-build/shared/bmcweb# ./build_x86.sh
The Meson build system
Version: 0.55.3
Source dir: /home/ubuntu/bmcweb-docker-build/shared/bmcweb
Build dir: /home/ubuntu/bmcweb-docker-build/shared/bmcweb/builddir
Build type: native build
Project name: bmcweb
Project version: 1.0
C++ compiler for the host machine: c++ (gcc 5.4.0 "c++ (Ubuntu 5.4.0-6ub

[2020-10-14 00:04] StanleyLiu-TW opened #155 "KVM show disconnected after continue active refresh item on page more than 4 times."
Enter the KVM page and active "refresh" on page not on browser more than 4 times and KVM status will show "disconnected". It can connect back after "F5" or active "reload page" on browser.

[2020-10-14 01:37] edtanous commented on #155
This is likely a bug in phosphor-webui, not bmcweb.  the kvm implementation intentionally limits users to 4 kvm sessions.  It's likely the phosphor-webui could be improved to either.
1. Close the connection properly on a refresh.
2. Display an error message if too many users are already connected.

If you're interested in putting up a patchset for either of the above, I'm sure they'd be gladly acc

[2020-10-14 01:39] edtanous commented on #154
This is relying on the old build script, which has had problems in the past.  The new build script relies on docker.

I suspect the right path forward here is to simply remove build_x86 from the repo.

[2020-10-14 01:40] edtanous commented on #140
Neither of those are UI projects.  Have you installed one of the two UIs on your machine?

[2020-10-14 01:51] hsj928 commented on #154
I installed oceore-x86_64-arm1176jzs-toolchain-nodistro. 0. Sh and the problem was solved.

[2020-10-14 01:51] #154 closed

[2020-10-16 07:08] hsj928 opened #156 "ninja: build stopped: subcommand failed."
root@b436cbc8de46:/shared/bmcweb# ninja -C builddir1
ninja: Entering directory `builddir1'
[2/29] Compiling C++ object subprojects/tinyxml2-7.0.1/xmltest.p/xmltest.cpp.o
../subprojects/tinyxml2-7.0.1/xmltest.cpp: In function 'int main(int, const char**)':
../subprojects/tinyxml2-7.0.1/xmltest.cpp:707:10: warning: ignoring return value of 'char* fgets(char*, int, FILE*)', declared with attribute wa

[2020-10-19 16:20] edtanous commented on #117
Can this be closed?

[2020-10-19 16:22] edtanous commented on #127
The 3 commits in question have been merged.  I'm assuming this resolved the issue.  If someone wants to backport to 2.8, that would be fine.

[2020-10-19 16:22] #127 closed

[2020-10-19 16:24] edtanous commented on #124
Is this bug still present?

[2020-10-19 16:25] edtanous commented on #123
In the intended design, this should be returning 204, and an empty payload.

[2020-10-19 16:27] edtanous commented on #110
Unclear if this was the intended behavior or not, so I've marked as both a bug and an enhancement.  So far as I'm aware, this would be the only place where we shutdown a session because of an authentication change, but we could certainly make that a new behavior.

[2020-10-19 17:09] gtmills commented on #117
This is still an issue.
at Managers/bmc I see
[code]
but nothing in  https://github.com/openbmc/bmcweb/blob/master/static/redfish/v1/schema/OemManager_v1.xml for certificates. @devenrao Can you have a look?

[2020-10-20 05:50] edtanous opened #157 "Errant async_method_call in http router"
In the HTTP router, there appears to be this async_method_call;

https://github.com/openbmc/bmcweb/blob/3fad0d59b94d951a752530d01db5451773f7d374/http/routing.h#L1296

This is causing a dbus method call for _every_ request.  To my understanding, this was added because of LDAP support needing to fill in an unknown users role.  That's fine, but causing a performance impact to all requests, not just t

[2020-10-21 08:05] prkatti1 commented on #124
It is fixed and working fine on latest build.

[2020-10-21 13:10] #124 closed

[2020-10-21 13:12] #123 closed

[2020-10-21 16:41] gkeishin opened #158 "Redfish GracefulRestart flushes out bmc web session on reset"
The new BMC web bump / recent broke the Session persistency on BMC reset.  It flushes out the existing valid session from the BMC. This is a new regression here.

Test:

[code]

**Just to check the session**
[code]

[code]

[code]

**Once BMC reboots to standby**
[code]

We can see there is NO Session.. So it looks like the new reset flush out the valid sessions without explicitly clearing it out.

[2020-10-21 17:04] gkeishin commented on #158
[code]

[2020-10-21 18:36] gkeishin commented on #158
looks working with the revert.

[2020-10-23 14:57] #158 closed

[2020-10-26 17:20] gtmills commented on #139
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/37380  is a potential fix

[2020-10-27 18:24] geissonator opened #159 "CI Test: terminate called after throwing an instance of 'boost::wrapexcept<boost::system::system_error>'"
We're running our CI regression suite against a downstream system. The bmcweb version used is the latest in master (f23b729676559f539790580930b1ff3b0c05805b).

During the CI test suite, we're getting this in the journal:
[code]

The test case is Delete_Redfish_Session_Using_Valid_Login. Here's the robot output leading to the fail:
[code]

[2020-10-27 18:32] edtanous commented on #159
I see a couple things going on here:

https://github.com/openbmc/bmcweb/blob/04e438cbad66838724d78ce12f28aff1fb892a63/http/http_connection.hpp#L320

That line needs to use the ec overload of remote_endpoint.  This is a perfect example of "Using methods that throw (or not handling bad inputs)" documented in COMMON_ERRORS.md.

Once that is fixed, your crash should go away, but you'll end up with a b

[2020-10-27 19:54] geissonator commented on #159
Thanks for the quick response @edtanous . Will need @gkeishin to comment on the test specifics but I think it basically creates a Refish Session, deletes it, then queries all sessions to be sure it's gone.

https://github.com/openbmc/openbmc-test-automation/blob/master/redfish/service_root/test_service_root.robot#L83

[2020-10-27 23:12] edtanous commented on #159
This is issue number 3 on https://github.com/openbmc/bmcweb/commit/e436008377fbcf287be02c9e9e1b59c6627d7673

Issue number 1 is theory fixed in this commit:
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/37580

There's another patchset here that fixes some other issues:
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/37616

This patch (not up yet) would fix issue number 3.

And the pro

[2020-10-28 00:32] geissonator commented on #159
We did pull in https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/37721 from Gunnar and our CI test passed with it. I'll let you guys sort out what you want to do though.

[2020-10-28 03:09] ratagupt commented on #159
@edtanous :  Either the upstream implementation of usage of remote_endpoint or the https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/37616 both are being crashed.

How about getting the IP address of the other end as of following?

accept(ssock, (struct sockaddr *)&clientAddr, &len)
inet_ntoa/p(clientAddr.sin_addr).

[2020-10-29 05:25] akky1605 opened #160 "how to update static files in bmcweb(redfish/v1)"
HI,

I am new to openbmc and need to understand the integration of the bmcweb static files(redfish/v1) with dbus.
My requirement is to update the static files in bmcweb with my custom sensor.

For example, I have created a custom power sensor, which is reading through the hwmon entry.
I can read the power metrics value using the "curl" command through the "/xyz/openbmc/" path but no value is updat

[2020-10-30 18:08] frsauvage opened #161 "fatal error: sdbusplus/asio/connection.hpp: No such file or directory"
Hi,

I ran build_x86_docker.sh from centos8 (I changed docker to podma command in shell)
I get following error

`
[8/15] Compiling C++ object lock_test.p/redfish-core_ut_lock_test.cpp.o
FAILED: lock_test.p/redfish-core_ut_lock_test.cpp.o
c++ -Ilock_test.p -I. -I.. -I../include -I../redfish-core/include -I../redfish-core/lib -I../http -I../subprojects/nlohmann/single_include -I../subprojects/nlohma

[2020-10-31 04:25] manojkiraneda commented on #161
Hi @frsauvage ,

There seems to be some unnecessary headers that are included as part of a test file which was demanding sdbusplus/asio/connection.hpp & in the current state sdbusplus is not a dependency for all the working tests that are present in the repository, which is the reason for compile failure.

But, this error does not seem to come when building it natively on linux without any package

[2020-10-31 04:29] manojkiraneda commented on #156
@hsj928 are you using your own docker environment for building the bmcweb ?

please use ./build_x86_docker.sh script for the compiling, this script is being maintained.

[2020-10-31 07:50] frsauvage commented on #161
Yes it worked :-)
Thank a lot @manojkiraneda !

[2020-10-31 07:50] #161 closed

[2020-11-02 08:20] frsauvage opened #162 "fatal error: sdbusplus/asio/connection.hpp: No such file or directory"
Hi,

After a totally new git clone, I get the following error with build_x86_docker.sh :-1:

`
[7/17] Compiling C++ object dbus_utility_test.p/include_ut_dbus_utility_test.cpp.o
FAILED: dbus_utility_test.p/include_ut_dbus_utility_test.cpp.o
c++ -Idbus_utility_test.p -I. -I.. -I../include -I../redfish-core/include -I../redfish-core/lib -I../http -I../subprojects/nlohmann/single_include -I../subproj

[2020-11-02 08:31] manojkiraneda commented on #162
I have merged https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/37837 just now
can you clone the fresh changes and try again ?

[2020-11-05 07:28] adathatri commented on #150
@edtanous
Retested with https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/37230. I am seeing 503 as the response code now. Thanks!

[code]

[2020-11-05 07:28] #150 closed

[2020-11-05 10:34] adathatri opened #164 "Push style event subscription gets deleted on BMC reboot"
@edtanous @ratagupt

Step to recreate:

1. Subscribe to Push style events using RedfishEventListener_v1.py
[code]

2. Execute "reboot" command on BMC
3. Check the subscription after BMC reboots.
[code]

[2020-11-05 10:58] adathatri opened #165 "Unable to subscribe for Push style events using HTTP in the destination"
@edtanous @ratagupt

Clients cannot subscribe to Push style events using http in the destination.

Step to recreate:

Try to subscribe to Push style events using http in the destination.
[code]

[2020-11-09 22:05] gtmills opened #166 "Redfish: Manager: OEM: Fix warnings around odata.id not matching"
[code]

[2020-11-10 20:32] gtmills opened #167 "bmcweb_persistent_data.json grew so big caused login to fail"
[code]

Need to delete old sessions.
This was a test system running https://github.com/openbmc/openbmc-test-automation that hit this.
 @anoo1 FYI.

[2020-11-10 20:40] gtmills commented on #167
@edtanous Should we persist a lastUpdated ?
https://github.com/openbmc/bmcweb/blob/04e438cbad66838724d78ce12f28aff1fb892a63/include/sessions.hpp#L264

And don't restore the sessions if the session has timed out ?
https://github.com/openbmc/bmcweb/blob/c0ea7ae1c502fa2c67b0a58aee05b75581dafa7a/include/persistent_data.hpp#L97

This testing was doing a lot of BMC reboots.

[2020-11-12 18:53] gtmills commented on #167
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/38177 merged which might help a little here.
I believe what is happening is openbmc-test-automation is creating a lot of sessions and not cleaning them up and with this particular testing, the bmc reboots at least every hour, resetting the timeout of these sessions so the number of sessions just continues to grow until bmcweb_persistent_data.js

[2020-11-12 18:53] #167 closed

[2020-11-18 20:53] gtmills commented on #160
`/redfish/v1/` is the Redfish service root.
All redfish resources are linked from here (Redfish is a hypermedia API).
Common Redfish collections are: `/redfish/v1/Systems`  `/redfish/v1/Managers`  `/redfish/v1/Chassis`.

Under these collections you will find the ComputerSystem resource (hardcoded in bmcweb at `/redfish/v1/Systems/system`, the manager resource hardcoded in bmcweb at `/redfish/v1/Ma

[2020-11-23 09:49] #106 closed

[2020-11-26 04:54] edtanous opened #168 "EventManager should not use its own persistent json file"
Event manager persists its eventing in a separate file here:
https://github.com/openbmc/bmcweb/blob/f23b729676559f539790580930b1ff3b0c05805b/redfish-core/include/event_service_manager.hpp#L637

This makes it very difficult to keep in sync with the existing files, and has caused several bugs because the path it uses is different than the existing bmcweb_persistent_data.json, and it's missing severa

[2020-11-26 11:45] edineshkumar opened #169 "Log message prints."
`BMCWEB_LOG_DEBUG << "This is my print message";`

Where I can see this print message in BMC ?

Is anything need to be enable for BMCWEB_LOG_DEBUG ????

[2020-11-30 18:10] edtanous commented on #169
assuming you've enabled logging, they will end up in the journal.  Please see the meson_options for the logging option to enable.

[2020-12-01 13:35] edineshkumar commented on #169
`CPPFLAGS +=" -DBMCWEB_ENABLE_LOGGING   -DBMCWEB_ENABLE_DEBUG "`

I have added above flags to bmcweb, even though  print messages are can not able to see in journalctl.

@edtanous, can you give more details on it ???

[2020-12-02 07:29] sathishvslabs commented on #162
Hi @manojkiraneda,
We are also seeing this problem. The Merge request you mentioned takes care of changes in redfish-core/ut/lock_test.cpp file. This error corresponds to dbus_utility_test.cpp file. We added sdbusplus as the "tests" dependencies. This make the build get pass this error.

[2020-12-02 11:54] williamspatrick commented on #162
@sathishvslabs -would you mind pushing your fix to Gerrit so it can be merged?

[2020-12-02 12:34] sathishvslabs commented on #162
@williamspatrick raised a Gerrit review: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/38729

[2020-12-02 15:56] #162 closed

[2020-12-03 18:08] edineshkumar commented on #169
add_definitions (-DBMCWEB_ENABLE_DEBUG)
    add_definitions (-DBMCWEB_ENABLE_LOGGING)

By these, I can able to achieve.
Closing the issue.
Thanks...!

[2020-12-03 18:08] #169 closed

[2020-12-18 20:35] edineshkumar opened #170 "Set timeout to websocket."
How to set timeout to virtual-media websocket ?
Once virtual media redirection is getting success, Whenever client network will disconnect, virtual-media socket is not getting close.

Suggest to me some inputs..!!

[2020-12-20 09:01] frsauvage opened #171 "subprojects dependencies (boost/boost-url/sdbus++) never found on centos 8"
Hi,

I cannot figure out how to install bmcweb on a centos 8.
I found a new meson.build with an explicit boost >= 1.73 compatibility
so question : is **bmcweb** now compatible with boost >= 1.73 (as well as crow ?) ??

So I tried to put boost -1.73) and boost-url (from wrap file) in subprojects :

**boost**
[code]
**boost-url**
[code]

![image](https://user-images.githubusercontent.com/23147820/10

[2020-12-20 14:00] williamspatrick commented on #171
sdbusplus (https://github.com/openbmc/sdbusplus) appears to be a dependency and automatic subproject of bmcweb.  That project also needs boost but seems to not be finding it with this recursive setup you have.  We may need a boost.wrap in that project also?  Generally, sdbusplus treats boost as an optional dependency but I think that bmcweb requires the boost components of it.

[2020-12-20 19:35] edineshkumar commented on #170
After client network gets disconnected, almost 15minutes are taken for  websocket is getting close. If I am right,  where the implementation is there in bmcweb, How to change 15 minutes into 2 minutes.

Yours suggestions are most welcome.

[2020-12-20 21:46] edtanous commented on #170
What SHA1 of OpenBMC are you using?  What platform did you test on?

What daemon are you using bmcweb to connect to virtual media on the bmc?

How are you disconnecting the network?

[2020-12-20 21:48] edtanous commented on #171
This isn't a use case that I've heard of, and in general bmcweb only supports installation on a bmc through Yocto.

With that said, can you talk a little about your use case, and maybe we can suggest an easier solution for you.

[2020-12-21 07:36] edineshkumar commented on #170
I am currently using the latest OpenBMC released 2.9 source code.
Platform : evb-ast2600
User machine OS: windows 10
Broswer: Chrome - Version 86.0.4240.75

And I am disconnecting the user network by disabling the wi-fi.
I am using the in window webui virtual media for media redirection.

Below are my issues :
Case 1) Actually, if I start the media session from webui, then the redirected image is

[2020-12-21 08:25] frsauvage commented on #171
Thank a lot for all your answer
@edtanous : Use case. I need to develop extensions/plugins/add-ons on bmcweb and it would be much easier if I can do it on centos8. I am used to develop/debug with Visual code, with completion help. As it does not compile, I have no completion, and no debug mode.
Some extensions are not os-dependant. Like zeroconf, I cant develop an extension and test it directly on

[2020-12-22 01:16] wuzp-su opened #172 "Which module implements the back end by mounting ISO through redfish"
The virtual_media.hpp call "xyz.openbmc_project.VirtualMedia.Legacy" "mount" method,  but  I didn't find out which module implement the method.

[2020-12-22 05:07] edtanous commented on #140
Closing from lack of response.  Feel free to reopen if this is still an issue.

[2020-12-22 05:07] #140 closed

[2020-12-22 06:10] edineshkumar commented on #170
@edtanous

May I know the reason for closing this issue. And I didn't get the solution yet.

Please share your inputs.

[2020-12-22 06:16] edtanous commented on #170
Apologies, I clicked the wrong button.  Your second comment seemed to imply that the connections were getting closed after 15 minutes, as is expected when you are removing the network, as you're relying on TCP and/or websocket ping timeout when you disconnect the WIFI.  If the connection closes gracefully, the connection is closed immediately.  This seems like the intended behavior.  Are you looki

[2020-12-22 11:35] edineshkumar commented on #170
Yes, I am looking for shorter timeout. `jsnbd` is using for virtual media redirection.

@jk-ozlabs @bradbishop   @raviteja-b
Can you  give some suggestion to implement, which I want exactly?

[2020-12-22 19:10] edineshkumar commented on #170
@edtanous
I have applied suggested timeout options for the server role to the stream by  `websocket::stream_base::timeout`  in `class ConnectionImpl `  , which is in `bmcweb/http/websocket.h` .

Now the Websocket idle time limits of 15 minutes, reduced into 2 minutes. But as per my understanding, `bmcweb/http/websocket.h` is also applicable for KVM, GUI and other webserver related features. So it

[2020-12-23 02:49] edtanous commented on #160
It appears your question got answered.  Please reopen if this is still an issue for you.

[2020-12-23 02:49] #160 closed

[2020-12-23 02:50] edtanous commented on #155
Is this still an issue?

[2020-12-23 02:51] edtanous commented on #156
Haven't seen any feedback on this for a few weeks, so I'm going to assume the first comment solved the issue.  Please reopen if this is still an issue.

[2020-12-23 02:51] #156 closed

[2020-12-23 02:57] edtanous commented on #171
Considering bmcweb is intended for use on bmcs, rmcs, and other yocto driven builds, it's unlikely we'd be able to support centos8 properly.  With that said if this is something you're interested in (turning bmcweb into a general purpose redfish application) feel free to push a design doc with what you're looking for.

I use vs code as well.  Use devtool modify bmcweb to put bmcweb in yocto modifi

[2020-12-23 02:59] edtanous commented on #170
Have you pushed said change to somewhere that it can be commented on?

I'm still not clear why it matters that it's 2 minutes instead of 15 minutes in the case of a network error, and not a clean disconnect, but I'm not sure I'd really be against it if the patch is relatively clean.

[2020-12-23 03:23] StanleyLiu-TW commented on #155
Sorry for update late, I tried to remove the count from code and work normal.

[2020-12-23 12:26] tejas-patil20 commented on #172
As per my understanding virtual-media package is responsible for media redirection from redfish.
The dbus interface "xyz.openbmc_project.VirtualMedia.Legacy" with "mount" and "unmount" methods will be created and handled by this package only.

You can check the recipe link for this :
https://github.com/Intel-BMC/openbmc/blob/c16fb8893b19075db4bcf3b5bf33c1db8c3ca2bd/meta-openbmc-mods/meta-common/re

[2020-12-23 12:33] wuzp-su commented on #172
thanks so much @tejas-patil20

[2020-12-23 12:33] #172 closed

[2020-12-23 18:44] edineshkumar commented on #170
My code changes till now not yet pushed in community.

As per my feature requirement, Virtual media websocket should gracefully close within 2minutes, when network error will occur.
That is the reason why I have tried these implementation.

Thank you for your useful inputs.

[2020-12-28 10:35] #170 closed

[2020-12-29 04:40] leocheng-tw opened #174 "Disabled user still can login and send redfish requests"
Hi Teams,

I reproduced this issue.

1. Create a redfish user with any privilege, but it should not be enabled.
curl -u root:<pwd> -k -X POST https://${bmc}/redfish/v1/AccountService/Accounts/ -d '{"UserName":"user_1", "Password":"TestPwd123", "RoleId":"Operator", "Enabled":false}'
{
  "@Message.ExtendedInfo": [
    {
      "@odata.type": "#Message.v1_0_0.Message",
      "Message": "The resource h

[2021-01-03 09:08] frsauvage commented on #171
[code]
OK, I will try that way, thank a lot @edtanous
I close it, I am border line, I know.

[2021-01-03 09:08] #171 closed

[2021-01-06 15:48] gtmills opened #175 "Validator errors when LDAP is removed from the build"
LDAP was removed from Witherspoon here, https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/39353
Removing LDAP introduced the following errors:
[code]

So the link to /redfish/v1/AccountService/LDAP/Certificates in the collection is hardcoded, always there:
https://github.com/openbmc/bmcweb/blob/88b3dd12851cd7bdd4b5c065ba99f40feafb775e/redfish-core/lib/account_service.hpp#L1189

when we are ca

[2021-01-07 20:48] #139 closed

[2021-01-14 02:13] kingzmm commented on #157
@edtanous How to set up ldap service so that users in ldap can log in successfully

[2021-01-14 03:20] edtanous commented on #157
Ideally we would use Pam in async mode.  I’ve never had time to do that, but it on my list.

The phosphor user manager client needs to make sure that the new user is added to dbus before the Pam call is allowed to complete.  After that, bmcweb should have a record of it, and it should go through just fine.

worst case, if we get a weird ordering problem (which I don’t think we would), we need to s

[2021-01-14 03:25] kingzmm commented on #157
@edtanous The problem I have now is that my attempt to log in to the user in the ldap service fails, and I don’t know if my connection to the ldap service is successful

[2021-01-14 03:28] kingzmm commented on #157
@edtanous How to detect whether the connection to the ldap service is successful

[2021-01-14 04:09] edtanous commented on #174
This is likely a bug with phosphor-user-manager, or its interactions with PAM.  Can you please capture a dbus monitor log of the events around this and (likely) file a bug with phosphor-user-manager?

[2021-01-14 04:12] edtanous commented on #157
If the LDAP service fails to connect, the PAM conversation (in authenticate_pam) should fail, indicating the user isn't authenticated, and bmcweb should return 404.

If bmcweb authenticates via PAM, and the ldap server disconnected, that's a bug in the pam implementation that needs fixed.

[2021-01-14 05:35] kingzmm commented on #157
@edtanous I did not see the verification of pam. I connected to the ldap service on the web. It seems to be through /redfish/v1/Managers/bmc/Truststore/Certificates/，I want to build ldap service now, can you give me some suggestions, thank you very much

[2021-01-14 05:39] edtanous commented on #157
if you want to use LDAP, first you need to build a bmc with ldap support.  That's outside the scope of this bug.

[2021-01-14 05:44] kingzmm commented on #157
@edtanous  I’m very sorry, I don’t know if my bmc supports ldap function, it should be reset to support bmc, so I just tried it, please ask, how to detect whether bmc has ldap function，thank you very much

[2021-01-14 05:45] edtanous commented on #157
This is a discussion much better had on the openbmc mailing list.  This bug is unrelated to your question.

[2021-01-14 05:46] edtanous commented on #166
if I'm not mistaken, that looks like the schemas James wrote.  I'll add it to my list of things to look at.

The above warnings were redfish service validator?

[2021-01-14 05:49] edtanous commented on #164
Possibly related to this: https://github.com/openbmc/bmcweb/issues/165

It's not clear all the version information and other things were handled on the evenservice  persistent file.  It just needs rolled into the main one.

[2021-01-14 05:51] kingzmm commented on #157
@edtanous I'm really sorry, I really don't have a clue about the ldap service, can I trouble you to share your general steps，Many thanks

[2021-01-14 05:52] edtanous commented on #42
This bug appears to be fixed along with #101.  Please reopen if this is still an issue on a current build.

[2021-01-14 05:52] #42 closed

[2021-01-14 05:54] edtanous commented on #157
Steps:
1. Google "openbmc mailing list"
2. Sign up for mailing list.
3. Read rules for mailing list.
4. Send email to mailing list, asking your questions.

Alternatively, you could also sign up for discord, where we have a server set up (look in the docs repo for details).

Either of those are better forums to ask questions than this unrelated bug.

[2021-01-14 06:03] kingzmm commented on #157
@edtanous Thank you very much for your answer

[2021-01-14 14:47] gtmills commented on #166
Yes

[2021-01-15 05:05] adathatri commented on #164
@edtanous This issue is for https subscription only. On BMC reboot, the exisiting subscription does not persist. Issue #165 talks about being unable to subscribe to event notification itself using http.

[2021-01-15 05:29] sunharis opened #176 "Use performant alternatives for regex"
We have been using the regex for validating an input string.

This issue is opened to address Ed's concern over the usage of regex -
Std::regex is slow, takes a lot of memory, and complicates things that should be simple.  In most cases, there are much more performant alternatives that are more clear in code.